* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v117_5203 {
  width: 100%;
  height: 1024px;
  background: url("../images/v117_5203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5206 {
  width: 992px;
  height: 1024px;
  background: url("../images/v117_5206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 288px;
  overflow: hidden;
}
.v117_5207 {
  width: 992px;
  height: 944px;
  background: rgba(248,249,250,1);
  padding: 64px 64px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 16px;
  overflow: hidden;
}
.v117_5208 {
  width: 864px;
  height: 80px;
  background: url("../images/v117_5208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 244px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 64px;
  overflow: hidden;
}
.v117_5209 {
  width: 494px;
  height: 72px;
  background: url("../images/v117_5209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5210 {
  width: 494px;
  height: 40px;
  background: url("../images/v117_5210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5211 {
  width: 313px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v117_5212 {
  width: 494px;
  height: 24px;
  background: url("../images/v117_5212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v117_5213 {
  width: 494px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v117_5219 {
  width: 864px;
  height: 79px;
  background: rgba(255,255,255,0.699999988079071);
  padding: 16px 16px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 64px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_5220 {
  width: 501px;
  height: 45px;
  background: url("../images/v117_5220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_5231 {
  width: 328px;
  height: 42px;
  background: url("../images/v117_5231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 518px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_5244 {
  width: 864px;
  height: 481px;
  background: url("../images/v117_5244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 64px;
  overflow: hidden;
}
.v117_5245 {
  width: 864px;
  height: 65px;
  background: rgba(243,244,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5246 {
  width: 56px;
  height: 64px;
  background: url("../images/v117_5246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
}
.v117_5247 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  border: 1px solid rgba(225,227,228,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_5248 {
  width: 155px;
  height: 64px;
  background: url("../images/v117_5248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 94px;
  overflow: hidden;
}
.v117_5249 {
  width: 86px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5250 {
  width: 208px;
  height: 64px;
  background: url("../images/v117_5250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 278px;
  overflow: hidden;
}
.v117_5251 {
  width: 42px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5252 {
  width: 110px;
  height: 48px;
  background: url("../images/v117_5252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 460px;
  overflow: hidden;
}
.v117_5253 {
  width: 102px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5254 {
  width: 116px;
  height: 64px;
  background: url("../images/v117_5254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 541px;
  overflow: hidden;
}
.v117_5255 {
  width: 83px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 23px;
  left: 641px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5256 {
  width: 112px;
  height: 64px;
  background: url("../images/v117_5256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 740px;
  overflow: hidden;
}
.v117_5257 {
  width: 68px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 24px;
  left: 20px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v117_5258 {
  width: 864px;
  height: 416px;
  background: url("../images/v117_5258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v117_5259 {
  width: 864px;
  height: 163px;
  background: url("../images/v117_5259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5260 {
  width: 56px;
  height: 139px;
  background: url("../images/v117_5260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 62px 24px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 2px;
  overflow: hidden;
}
.v117_5261 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 24px;
  border: 1px solid rgba(225,227,228,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_5262 {
  width: 123px;
  height: 82px;
  background: url("../images/v117_5262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 74px;
  overflow: hidden;
}
.v117_5263 {
  width: 24px;
  height: 40px;
  background: rgba(231,232,233,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_5264 {
  width: 22px;
  height: 38px;
  background: url("../images/v117_5264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v117_5265 {
  width: 88px;
  height: 82px;
  background: url("../images/v117_5265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 36px;
  overflow: hidden;
}
.v117_5266 {
  width: 88px;
  height: 48px;
  background: url("../images/v117_5266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5267 {
  width: 101px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_5268 {
  width: 88px;
  height: 32px;
  background: url("../images/v117_5268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 0px;
  overflow: hidden;
}
.v117_5269 {
  width: 64px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5270 {
  width: 208px;
  height: 163px;
  background: url("../images/v117_5270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 48px 16px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 231px;
  overflow: hidden;
}
.v117_5271 {
  width: 176px;
  height: 48px;
  background: url("../images/v117_5271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 16px;
  overflow: hidden;
}
.v117_5272 {
  width: 176px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_5273 {
  width: 176px;
  height: 16px;
  background: url("../images/v117_5273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 16px;
  overflow: hidden;
}
.v117_5274 {
  width: 120px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5275 {
  width: 78px;
  height: 24px;
  background: url("../images/v117_5275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 482px;
  overflow: hidden;
}
.v117_5276 {
  width: 96px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_5277 {
  width: 104px;
  height: 26px;
  background: rgba(230,244,234,1);
  padding: 4px 10px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 628px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_5279 {
  width: 74px;
  color: rgba(19,115,51,1);
  position: absolute;
  top: 5px;
  left: 15px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v131_171 {
  width: 175px;
  height: 35px;
  background: url("../images/v131_171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 689px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_5285 {
  width: 864px;
  height: 140px;
  background: url("../images/v117_5285.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v117_5286 {
  width: 56px;
  height: 115px;
  background: url("../images/v117_5286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 24px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v117_5287 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 24px;
  border: 1px solid rgba(225,227,228,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_5288 {
  width: 30px;
  height: 28px;
  background: rgba(255,215,0,1);
  padding: 2px 6px;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 72px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_5289 {
  width: 18px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v117_5290 {
  width: 139px;
  height: 82px;
  background: url("../images/v117_5290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 56px;
  overflow: hidden;
}
.v117_5291 {
  width: 33px;
  height: 40px;
  background: rgba(231,232,233,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_5292 {
  width: 31px;
  height: 38px;
  background: url("../images/v117_5292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v117_5293 {
  width: 72px;
  height: 82px;
  background: url("../images/v117_5293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 61px;
  overflow: hidden;
}
.v117_5294 {
  width: 72px;
  height: 48px;
  background: url("../images/v117_5294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5295 {
  width: 72px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_5296 {
  width: 72px;
  height: 32px;
  background: url("../images/v117_5296.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 0px;
  overflow: hidden;
}
.v117_5297 {
  width: 64px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5298 {
  width: 224px;
  height: 139px;
  background: url("../images/v117_5298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 36px 32px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 212px;
  overflow: hidden;
}
.v117_5299 {
  width: 176px;
  height: 48px;
  background: url("../images/v117_5299.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 32px;
  overflow: hidden;
}
.v117_5300 {
  width: 176px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_5301 {
  width: 176px;
  height: 16px;
  background: url("../images/v117_5301.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 32px;
  overflow: hidden;
}
.v117_5302 {
  width: 120px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5303 {
  width: 94px;
  height: 24px;
  background: url("../images/v117_5303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 470px;
  overflow: hidden;
}
.v117_5304 {
  width: 92px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_5305 {
  width: 132px;
  height: 63px;
  background: url("../images/v117_5305.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 17px 32px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 564px;
  overflow: hidden;
}
.v117_5306 {
  width: 102px;
  height: 115px;
  background: url("../images/v117_5306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 36px 16px;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 697px;
  overflow: hidden;
}
.v117_5310 {
  width: 104px;
  height: 26px;
  background: rgba(230,244,234,1);
  padding: 4px 10px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 631px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_5312 {
  width: 74px;
  color: rgba(19,115,51,1);
  position: absolute;
  top: 5px;
  left: 15px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v131_182 {
  width: 175px;
  height: 35px;
  background: url("../images/v131_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 689px;
  overflow: hidden;
}
.v131_183 {
  width: 38px;
  height: 32px;
  background: url("../images/v131_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 9px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v131_184 {
  width: 22px;
  height: 15px;
  background: url("../images/v131_184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
  overflow: hidden;
}
.v131_185 {
  width: 22px;
  height: 15px;
  background: rgba(92,64,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v131_186 {
  width: 34px;
  height: 35px;
  background: url("../images/v131_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 9px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 101px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v131_187 {
  width: 18px;
  height: 18px;
  background: url("../images/v131_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
  overflow: hidden;
}
.v131_188 {
  width: 18px;
  height: 18px;
  background: rgba(92,64,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v131_189 {
  width: 32px;
  height: 35px;
  background: url("../images/v131_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 9px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 143px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v131_190 {
  width: 16px;
  height: 18px;
  background: url("../images/v131_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
  overflow: hidden;
}
.v131_191 {
  width: 16px;
  height: 18px;
  background: rgba(92,64,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v131_193 {
  width: 175px;
  height: 35px;
  background: url("../images/v131_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 689px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_5313 {
  width: 864px;
  height: 115px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 0.75;
  position: absolute;
  top: 301px;
  left: 0px;
  overflow: hidden;
}
.v117_5314 {
  width: 56px;
  height: 114px;
  background: url("../images/v117_5314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5315 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 24px;
  border: 1px solid rgba(225,227,228,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_5316 {
  width: 123px;
  height: 82px;
  background: url("../images/v117_5316.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 70px;
  overflow: hidden;
}
.v117_5317 {
  width: 31px;
  height: 40px;
  background: rgba(231,232,233,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_5318 {
  width: 29px;
  height: 38px;
  background: url("../images/v117_5318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v117_5319 {
  width: 19px;
  height: 19px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 4px;
}
.v117_5320 {
  width: 77px;
  height: 82px;
  background: url("../images/v117_5320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 43px;
  overflow: hidden;
}
.v117_5321 {
  width: 77px;
  height: 48px;
  background: url("../images/v117_5321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5322 {
  width: 77px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_5323 {
  width: 77px;
  height: 32px;
  background: url("../images/v117_5323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 0px;
  overflow: hidden;
}
.v117_5324 {
  width: 64px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5325 {
  width: 208px;
  height: 114px;
  background: url("../images/v117_5325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 36px 16px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 224px;
  overflow: hidden;
}
.v117_5326 {
  width: 176px;
  height: 24px;
  background: url("../images/v117_5326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 16px;
  overflow: hidden;
}
.v117_5327 {
  width: 171px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_5328 {
  width: 176px;
  height: 16px;
  background: url("../images/v117_5328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 16px;
  overflow: hidden;
}
.v117_5329 {
  width: 125px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5330 {
  width: 78px;
  height: 24px;
  background: url("../images/v117_5330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 490px;
  overflow: hidden;
}
.v117_5331 {
  width: 96px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_5332 {
  width: 102px;
  height: 98px;
  background: url("../images/v117_5332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 37px 16px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 645px;
  overflow: hidden;
}
.v117_5333 {
  width: 98px;
  height: 24px;
  background: rgba(255,218,214,1);
  padding: 4px 10px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 8px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_5335 {
  width: 58px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 4px;
  left: 20px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5336 {
  width: 20px;
  height: 38px;
  background: url("../images/v117_5336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 788px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v131_204 {
  width: 175px;
  height: 35px;
  background: url("../images/v131_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 689px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_5339 {
  width: 864px;
  height: 68px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 301px;
  opacity: 1;
  position: absolute;
  top: 776px;
  left: 64px;
  overflow: hidden;
}
.v117_5340 {
  width: 267px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 16px;
  left: 73px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_5341 {
  width: 206px;
  height: 48px;
  background: url("../images/v117_5341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 601px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_5345 {
  width: 38px;
  height: 48px;
  background: rgba(200,16,46,1);
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_5346 {
  width: 7px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_5347 {
  width: 42px;
  height: 48px;
  background: url("../images/v117_5347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_5348 {
  width: 10px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_5349 {
  width: 42px;
  height: 48px;
  background: url("../images/v117_5349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 130px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_5350 {
  width: 10px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v117_6987 {
  width: 995px;
  height: 80px;
  background: rgba(255,255,255,1);
  margin: 295px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_6988 {
  width: 420px;
  height: 40px;
  background: url("../images/v117_6988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 953px;
  overflow: hidden;
}
.v117_6989 {
  width: 140px;
  height: 40px;
  background: url("../images/v117_6989.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 718px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_6997 {
  width: 32px;
  height: 36px;
  background: url("../images/v117_6997.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 674px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_6998 {
  width: 16px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v117_6999 {
  width: 36px;
  height: 36px;
  background: url("../images/v117_6999.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 722px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_7000 {
  width: 20px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v117_7001 {
  width: 56px;
  height: 40px;
  background: url("../images/v117_7001.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 782px;
  overflow: hidden;
}
.v117_7002 {
  width: 40px;
  height: 40px;
  background: url("../images/v117_7002.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_7004 {
  width: 114px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 48px;
  left: 848px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_7005 {
  width: 239px;
  height: 52px;
  background: url("../images/v117_7005.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 838px;
  overflow: hidden;
}
.v117_7006 {
  width: 239px;
  height: 16px;
  background: url("../images/v117_7006.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v117_7007 {
  width: 87px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 28px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_6840 {
  width: 288px;
  height: 1024px;
  background: rgba(253,253,253,1);
  padding: 24px 0px;
  margin: 163px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_6841 {
  width: 287px;
  height: 815px;
  background: url("../images/v117_6841.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v117_6842 {
  width: 287px;
  height: 292px;
  background: url("../images/v117_6842.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_6849 {
  width: 287px;
  height: 320px;
  background: url("../images/v117_6849.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 2px;
  overflow: hidden;
}
.v117_6850 {
  width: 97px;
  height: 24px;
  background: url("../images/v117_6850.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_6911 {
  width: 16px;
  height: 28px;
  background: url("../images/v117_6911.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 880px;
  left: 67px;
  overflow: hidden;
}
.v117_6912 {
  width: 207px;
  height: 136px;
  background: url("../images/v117_6912.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 921px;
  left: 18px;
  overflow: hidden;
}
.v117_6913 {
  width: 207px;
  height: 50px;
  background: url("../images/v117_6913.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_6925 {
  width: 287px;
  height: 159px;
  background: url("../images/v117_6925.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 9px;
  overflow: hidden;
}
.v117_6926 {
  width: 287px;
  height: 116px;
  background: url("../images/v117_6926.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_6927 {
  width: 239px;
  height: 52px;
  background: url("../images/v117_6927.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 24px;
  overflow: hidden;
}
.v117_6928 {
  width: 239px;
  height: 16px;
  background: url("../images/v117_6928.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v117_6929 {
  width: 168px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 4px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v117_6930 {
  width: 100px;
  height: 71px;
  background: url("../images/v117_6930.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 62px;
  overflow: hidden;
}
