* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v117_4710 {
  width: 100%;
  height: 1136px;
  background: url("../images/v117_4710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4713 {
  width: 992px;
  height: 1136px;
  background: url("../images/v117_4713.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 288px;
  overflow: hidden;
}
.v117_4714 {
  width: 992px;
  height: 1056px;
  background: rgba(248,249,250,1);
  padding: 64px 64px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v117_4715 {
  width: 864px;
  height: 76px;
  background: url("../images/v117_4715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 156px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 64px;
  overflow: hidden;
}
.v117_4716 {
  width: 504px;
  height: 76px;
  background: url("../images/v117_4716.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4717 {
  width: 504px;
  height: 40px;
  background: url("../images/v117_4717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4718 {
  width: 303px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v117_4719 {
  width: 504px;
  height: 28px;
  background: url("../images/v117_4719.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v117_4720 {
  width: 359px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v117_4721 {
  width: 321px;
  height: 50px;
  background: url("../images/v117_4721.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 542px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_4730 {
  width: 864px;
  height: 95px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 24px 24px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 64px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_4731 {
  width: 330px;
  height: 47px;
  background: url("../images/v117_4731.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v117_4732 {
  width: 72px;
  height: 16px;
  background: url("../images/v117_4732.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  overflow: hidden;
}
.v117_4733 {
  width: 72px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_4734 {
  width: 217px;
  height: 47px;
  background: rgba(225,227,228,1);
  padding: 4px 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 88px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_4750 {
  width: 864px;
  height: 157px;
  background: url("../images/v117_4750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 64px;
  overflow: hidden;
}
.v117_4751 {
  width: 198px;
  height: 157px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 24px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_4752 {
  width: 128px;
  height: 128px;
  background: rgba(200,16,46,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 70px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v117_4753 {
  width: 150px;
  height: 16px;
  background: url("../images/v117_4753.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v117_4754 {
  width: 113px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_4755 {
  width: 150px;
  height: 48px;
  background: url("../images/v117_4755.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 24px;
  overflow: hidden;
}
.v117_4756 {
  width: 126px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v117_4757 {
  width: 81px;
  height: 29px;
  background: rgba(46,125,50,0.10000000149011612);
  padding: 4px 8px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_4758 {
  width: 13px;
  height: 8px;
  background: url("../images/v117_4758.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
  overflow: hidden;
}
.v117_4759 {
  width: 13px;
  height: 8px;
  background: rgba(46,125,50,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_4760 {
  width: 48px;
  height: 21px;
  background: url("../images/v117_4760.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 25px;
  overflow: hidden;
}
.v117_4761 {
  width: 48px;
  color: rgba(46,125,50,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4762 {
  width: 198px;
  height: 157px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 24px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 222px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_4763 {
  width: 128px;
  height: 128px;
  background: rgba(255,215,0,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 70px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v117_4764 {
  width: 150px;
  height: 16px;
  background: url("../images/v117_4764.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v117_4765 {
  width: 98px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_4766 {
  width: 150px;
  height: 48px;
  background: url("../images/v117_4766.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 24px;
  overflow: hidden;
}
.v117_4767 {
  width: 89px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v117_4768 {
  width: 76px;
  height: 29px;
  background: rgba(46,125,50,0.10000000149011612);
  padding: 4px 8px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_4769 {
  width: 13px;
  height: 8px;
  background: url("../images/v117_4769.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
  overflow: hidden;
}
.v117_4770 {
  width: 13px;
  height: 8px;
  background: rgba(46,125,50,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_4771 {
  width: 42px;
  height: 21px;
  background: url("../images/v117_4771.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 25px;
  overflow: hidden;
}
.v117_4772 {
  width: 42px;
  color: rgba(46,125,50,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4773 {
  width: 198px;
  height: 157px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 24px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 444px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_4774 {
  width: 128px;
  height: 128px;
  background: rgba(84,110,167,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 70px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v117_4775 {
  width: 150px;
  height: 16px;
  background: url("../images/v117_4775.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v117_4776 {
  width: 110px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_4777 {
  width: 150px;
  height: 48px;
  background: url("../images/v117_4777.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 24px;
  overflow: hidden;
}
.v117_4778 {
  width: 121px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v117_4779 {
  width: 72px;
  height: 29px;
  background: rgba(255,218,214,1);
  padding: 4px 8px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_4780 {
  width: 13px;
  height: 8px;
  background: url("../images/v117_4780.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
  overflow: hidden;
}
.v117_4781 {
  width: 13px;
  height: 8px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_4782 {
  width: 38px;
  height: 21px;
  background: url("../images/v117_4782.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 25px;
  overflow: hidden;
}
.v117_4783 {
  width: 38px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4784 {
  width: 198px;
  height: 157px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 24px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 666px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_4785 {
  width: 128px;
  height: 128px;
  background: rgba(200,16,46,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 70px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}
.v117_4786 {
  width: 150px;
  height: 16px;
  background: url("../images/v117_4786.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v117_4787 {
  width: 114px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_4788 {
  width: 150px;
  height: 48px;
  background: url("../images/v117_4788.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 24px;
  overflow: hidden;
}
.v117_4789 {
  width: 44px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v117_4790 {
  width: 81px;
  height: 29px;
  background: rgba(46,125,50,0.10000000149011612);
  padding: 4px 8px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_4791 {
  width: 13px;
  height: 8px;
  background: url("../images/v117_4791.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
  overflow: hidden;
}
.v117_4792 {
  width: 13px;
  height: 8px;
  background: rgba(46,125,50,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_4793 {
  width: 48px;
  height: 21px;
  background: url("../images/v117_4793.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 25px;
  overflow: hidden;
}
.v117_4794 {
  width: 48px;
  color: rgba(46,125,50,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4795 {
  width: 864px;
  height: 400px;
  background: url("../images/v117_4795.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 64px;
  overflow: hidden;
}
.v117_4796 {
  width: 568px;
  height: 400px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 32px 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_4797 {
  width: 504px;
  height: 54px;
  background: url("../images/v117_4797.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 32px;
  overflow: hidden;
}
.v117_4798 {
  width: 504px;
  height: 30px;
  background: url("../images/v117_4798.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 279px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4799 {
  width: 200px;
  height: 30px;
  background: url("../images/v117_4799.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4800 {
  width: 200px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v117_4803 {
  width: 504px;
  height: 282px;
  background: rgba(225,227,228,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 32px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v117_4804 {
  width: 502px;
  height: 168px;
  background: url("../images/v117_4804.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 0.800000011920929;
  position: absolute;
  top: 113px;
  left: 1px;
  overflow: hidden;
}
.v117_4805 {
  width: 55px;
  height: 50px;
  background: rgba(200,16,46,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 32px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}
.v117_4806 {
  width: 55px;
  height: 84px;
  background: rgba(200,16,46,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 95px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}
.v117_4807 {
  width: 55px;
  height: 75px;
  background: rgba(200,16,46,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 159px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}
.v117_4808 {
  width: 55px;
  height: 117px;
  background: rgba(200,16,46,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 223px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}
.v117_4809 {
  width: 55px;
  height: 109px;
  background: rgba(200,16,46,0.5);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 286px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}
.v117_4810 {
  width: 55px;
  height: 151px;
  background: rgba(200,16,46,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 350px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}
.v117_4811 {
  width: 8px;
  height: 8px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 23px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4812 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 0px 0px rgba(1, 0.843137264251709, 0, 1);
  overflow: hidden;
}
.v117_4813 {
  width: 55px;
  height: 142px;
  background: rgba(200,16,46,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 414px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}
.v117_4814 {
  width: 257px;
  height: 40px;
  background: rgba(255,255,255,0.5);
  padding: 8px 16px;
  opacity: 0.5;
  position: absolute;
  top: 121px;
  left: 123px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_4815 {
  width: 225px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_4816 {
  width: 272px;
  height: 400px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 32px 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 592px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_4817 {
  width: 208px;
  height: 54px;
  background: url("../images/v117_4817.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 32px;
  overflow: hidden;
}
.v117_4818 {
  width: 208px;
  height: 30px;
  background: url("../images/v117_4818.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4819 {
  width: 151px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v117_4820 {
  width: 208px;
  height: 282px;
  background: url("../images/v117_4820.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 32px;
  overflow: hidden;
}
.v117_4821 {
  width: 208px;
  height: 38px;
  background: url("../images/v117_4821.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  overflow: hidden;
}
.v117_4822 {
  width: 208px;
  height: 22px;
  background: url("../images/v117_4822.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 77px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4823 {
  width: 98px;
  height: 22px;
  background: url("../images/v117_4823.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4824 {
  width: 12px;
  height: 12px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 0px 8px rgba(1, 0.843137264251709, 0, 0.5);
  overflow: hidden;
}
.v117_4825 {
  width: 78px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4826 {
  width: 31px;
  height: 22px;
  background: url("../images/v117_4826.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 176px;
  overflow: hidden;
}
.v117_4827 {
  width: 31px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4828 {
  width: 208px;
  height: 8px;
  background: rgba(225,227,228,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4829 {
  width: 93px;
  height: 8px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4830 {
  width: 208px;
  height: 38px;
  background: url("../images/v117_4830.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 0px;
  overflow: hidden;
}
.v117_4831 {
  width: 208px;
  height: 22px;
  background: url("../images/v117_4831.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 85px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4832 {
  width: 91px;
  height: 22px;
  background: url("../images/v117_4832.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4833 {
  width: 12px;
  height: 12px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4834 {
  width: 71px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4835 {
  width: 31px;
  height: 22px;
  background: url("../images/v117_4835.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 176px;
  overflow: hidden;
}
.v117_4836 {
  width: 31px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4837 {
  width: 208px;
  height: 8px;
  background: rgba(225,227,228,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4838 {
  width: 62px;
  height: 8px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4839 {
  width: 208px;
  height: 38px;
  background: url("../images/v117_4839.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 153px;
  left: 0px;
  overflow: hidden;
}
.v117_4840 {
  width: 208px;
  height: 22px;
  background: url("../images/v117_4840.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 79px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4841 {
  width: 100px;
  height: 22px;
  background: url("../images/v117_4841.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4842 {
  width: 12px;
  height: 12px;
  background: rgba(84,110,167,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4843 {
  width: 80px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4844 {
  width: 27px;
  height: 22px;
  background: url("../images/v117_4844.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 180px;
  overflow: hidden;
}
.v117_4845 {
  width: 27px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4846 {
  width: 208px;
  height: 8px;
  background: rgba(225,227,228,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4847 {
  width: 31px;
  height: 8px;
  background: rgba(84,110,167,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4848 {
  width: 208px;
  height: 38px;
  background: url("../images/v117_4848.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 0px;
  overflow: hidden;
}
.v117_4849 {
  width: 208px;
  height: 22px;
  background: url("../images/v117_4849.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 105px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4850 {
  width: 75px;
  height: 22px;
  background: url("../images/v117_4850.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4851 {
  width: 12px;
  height: 12px;
  background: rgba(144,111,107,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4852 {
  width: 55px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4853 {
  width: 28px;
  height: 22px;
  background: url("../images/v117_4853.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 179px;
  overflow: hidden;
}
.v117_4854 {
  width: 28px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4855 {
  width: 208px;
  height: 8px;
  background: rgba(225,227,228,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4856 {
  width: 20px;
  height: 8px;
  background: rgba(144,111,107,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4857 {
  width: 864px;
  height: 40px;
  background: url("../images/v117_4857.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 952px;
  left: 64px;
  overflow: hidden;
}
.v117_7031 {
  width: 995px;
  height: 80px;
  background: rgba(255,255,255,1);
  margin: 295px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_7032 {
  width: 420px;
  height: 40px;
  background: url("../images/v117_7032.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 953px;
  overflow: hidden;
}
.v117_7033 {
  width: 140px;
  height: 40px;
  background: url("../images/v117_7033.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 718px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_7041 {
  width: 32px;
  height: 36px;
  background: url("../images/v117_7041.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 674px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_7042 {
  width: 16px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v117_7043 {
  width: 36px;
  height: 36px;
  background: url("../images/v117_7043.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 722px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_7044 {
  width: 20px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v117_7045 {
  width: 56px;
  height: 40px;
  background: url("../images/v117_7045.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 782px;
  overflow: hidden;
}
.v117_7046 {
  width: 40px;
  height: 40px;
  background: url("../images/v117_7046.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_7048 {
  width: 114px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 48px;
  left: 848px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_7049 {
  width: 239px;
  height: 52px;
  background: url("../images/v117_7049.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 838px;
  overflow: hidden;
}
.v117_7050 {
  width: 239px;
  height: 16px;
  background: url("../images/v117_7050.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v117_7051 {
  width: 87px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 28px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_6561 {
  width: 288px;
  height: 1136px;
  background: rgba(253,253,253,1);
  padding: 24px 0px;
  margin: 163px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_6562 {
  width: 287px;
  height: 815px;
  background: url("../images/v117_6562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v117_6563 {
  width: 287px;
  height: 292px;
  background: url("../images/v117_6563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_6569 {
  width: 287px;
  height: 505px;
  background: url("../images/v117_6569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 137px;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 2px;
  overflow: hidden;
}
.v117_6570 {
  width: 287px;
  height: 320px;
  background: url("../images/v117_6570.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_6571 {
  width: 97px;
  height: 24px;
  background: url("../images/v117_6571.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_6632 {
  width: 16px;
  height: 28px;
  background: url("../images/v117_6632.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 880px;
  left: 67px;
  overflow: hidden;
}
.v117_6633 {
  width: 207px;
  height: 136px;
  background: url("../images/v117_6633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 921px;
  left: 18px;
  overflow: hidden;
}
.v117_6634 {
  width: 207px;
  height: 50px;
  background: url("../images/v117_6634.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_6646 {
  width: 287px;
  height: 141px;
  background: url("../images/v117_6646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 9px;
  overflow: hidden;
}
.v117_6647 {
  width: 287px;
  height: 116px;
  background: url("../images/v117_6647.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_6648 {
  width: 239px;
  height: 52px;
  background: url("../images/v117_6648.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 24px;
  overflow: hidden;
}
.v117_6649 {
  width: 239px;
  height: 16px;
  background: url("../images/v117_6649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v117_6650 {
  width: 168px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 4px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v117_6651 {
  width: 100px;
  height: 71px;
  background: url("../images/v117_6651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 62px;
  overflow: hidden;
}
