* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v79_602 {
  width: 100%;
  height: 1052px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v79_603 {
  width: 100%;
  height: 1024px;
  background: url("../images/v79_603.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 256px;
  overflow: hidden;
}
.v79_604 {
  width: 800px;
  height: 600px;
  background: url("../images/v79_604.png");
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 490px;
}
.v79_605 {
  width: 100%;
  height: 1024px;
  background: rgba(248,249,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v79_606 {
  width: 100%;
  height: 160px;
  background: url("../images/v79_606.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 64px;
  margin: 186px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 7px;
  overflow: hidden;
}
.v79_607 {
  width: 351px;
  height: 72px;
  background: url("../images/v79_607.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 64px;
  overflow: hidden;
}
.v79_608 {
  width: 351px;
  height: 40px;
  background: url("../images/v79_608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v79_609 {
  width: 295px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v79_610 {
  width: 351px;
  height: 24px;
  background: url("../images/v79_610.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v79_611 {
  width: 351px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v79_612 {
  width: 445px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 6px 6px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 512px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_613 {
  width: 87px;
  height: 34px;
  background: rgba(200,16,46,1);
  padding: 8px 20px;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_614 {
  width: 45px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 21px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v79_615 {
  width: 115px;
  height: 32px;
  background: url("../images/v79_615.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 94px;
  overflow: hidden;
}
.v79_616 {
  width: 107px;
  height: 32px;
  background: url("../images/v79_616.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v79_617 {
  width: 67px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v79_618 {
  width: 122px;
  height: 32px;
  background: url("../images/v79_618.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 209px;
  overflow: hidden;
}
.v79_619 {
  width: 114px;
  height: 32px;
  background: url("../images/v79_619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v79_620 {
  width: 74px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v79_621 {
  width: 107px;
  height: 32px;
  background: url("../images/v79_621.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 331px;
  overflow: hidden;
}
.v79_622 {
  width: 99px;
  height: 32px;
  background: url("../images/v79_622.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v79_623 {
  width: 57px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 21px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v79_624 {
  width: 100%;
  height: 864px;
  background: url("../images/v79_624.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 0px;
  overflow: hidden;
}
.v79_625 {
  width: 400px;
  height: 800px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 30px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_626 {
  width: 398px;
  height: 82px;
  background: rgba(248,249,250,0.5);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v79_627 {
  width: 366px;
  height: 49px;
  background: url("../images/v79_627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v79_628 {
  width: 366px;
  height: 49px;
  background: rgba(255,255,255,1);
  padding: 13px 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v79_629 {
  width: 308px;
  height: 21px;
  background: url("../images/v79_629.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 41px;
  overflow: hidden;
}
.v79_630 {
  width: 261px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v79_631 {
  width: 15px;
  height: 21px;
  background: url("../images/v79_631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 12px;
  overflow: hidden;
}
.v79_632 {
  width: 15px;
  height: 15px;
  background: rgba(92,64,61,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v79_633 {
  width: 398px;
  height: 716px;
  background: url("../images/v79_633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 1px;
  overflow: hidden;
}
.v79_634 {
  width: 382px;
  height: 184px;
  background: rgba(225,227,228,1);
  padding: 16px 16px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_635 {
  width: 348px;
  height: 24px;
  background: url("../images/v79_635.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 212px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  overflow: hidden;
}
.v79_636 {
  width: 87px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v79_637 {
  width: 78px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 270px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v79_638 {
  width: 348px;
  height: 24px;
  background: url("../images/v79_638.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 17px;
  overflow: hidden;
}
.v79_639 {
  width: 129px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v79_640 {
  width: 348px;
  height: 48px;
  background: url("../images/v79_640.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 17px;
  overflow: hidden;
}
.v79_641 {
  width: 348px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v79_642 {
  width: 348px;
  height: 42px;
  background: url("../images/v79_642.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 17px;
  overflow: hidden;
}
.v79_643 {
  width: 83px;
  height: 34px;
  background: rgba(255,245,245,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v79_644 {
  width: 65px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 5px;
  left: 9px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v79_645 {
  width: 74px;
  height: 34px;
  background: rgba(255,223,148,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 91px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v79_646 {
  width: 56px;
  color: rgba(114,88,0,1);
  position: absolute;
  top: 5px;
  left: 9px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v79_647 {
  width: 6px;
  height: 150px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 1px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v79_648 {
  width: 382px;
  height: 158px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 8px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v79_649 {
  width: 348px;
  height: 24px;
  background: url("../images/v79_649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 224px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  overflow: hidden;
}
.v79_650 {
  width: 84px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v79_651 {
  width: 61px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 287px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v79_652 {
  width: 348px;
  height: 24px;
  background: url("../images/v79_652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 17px;
  overflow: hidden;
}
.v79_653 {
  width: 154px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v79_654 {
  width: 348px;
  height: 24px;
  background: url("../images/v79_654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 17px;
  overflow: hidden;
}
.v79_655 {
  width: 311px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v79_656 {
  width: 348px;
  height: 40px;
  background: url("../images/v79_656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 17px;
  overflow: hidden;
}
.v79_657 {
  width: 78px;
  height: 32px;
  background: rgba(200,16,46,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v79_658 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v79_659 {
  width: 77px;
  height: 32px;
  background: rgba(255,255,255,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 86px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v79_660 {
  width: 61px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v79_661 {
  width: 382px;
  height: 158px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 8px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v79_662 {
  width: 348px;
  height: 24px;
  background: url("../images/v79_662.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 232px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  overflow: hidden;
}
.v79_663 {
  width: 86px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v79_664 {
  width: 53px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 295px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v79_665 {
  width: 348px;
  height: 24px;
  background: url("../images/v79_665.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 17px;
  overflow: hidden;
}
.v79_666 {
  width: 89px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v79_667 {
  width: 348px;
  height: 24px;
  background: url("../images/v79_667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 17px;
  overflow: hidden;
}
.v79_668 {
  width: 315px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v79_669 {
  width: 348px;
  height: 40px;
  background: url("../images/v79_669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 17px;
  overflow: hidden;
}
.v79_670 {
  width: 44px;
  height: 32px;
  background: rgba(200,16,46,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v79_671 {
  width: 28px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v79_672 {
  width: 65px;
  height: 32px;
  background: rgba(255,255,255,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 52px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v79_673 {
  width: 46px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v79_674 {
  width: 538px;
  height: 800px;
  background: rgba(255,255,255,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 457px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03999999910593033);
  overflow: hidden;
}
.v79_675 {
  width: 500px;
  height: 105px;
  background: rgba(255,255,255,0.5);
  padding: 24px 24px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v79_676 {
  width: 367px;
  height: 56px;
  background: url("../images/v79_676.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v79_677 {
  width: 48px;
  height: 48px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_678 {
  width: 44px;
  height: 44px;
  background: url("../images/v79_678.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v79_679 {
  width: 303px;
  height: 56px;
  background: url("../images/v79_679.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 64px;
  overflow: hidden;
}
.v79_680 {
  width: 303px;
  height: 32px;
  background: url("../images/v79_680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v79_681 {
  width: 200px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v79_682 {
  width: 303px;
  height: 24px;
  background: url("../images/v79_682.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v79_683 {
  width: 162px;
  height: 24px;
  background: url("../images/v79_683.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v79_684 {
  width: 162px;
  color: rgba(255,215,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v79_685 {
  width: 8px;
  height: 24px;
  background: url("../images/v79_685.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 170px;
  overflow: hidden;
}
.v79_686 {
  width: 8px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v79_687 {
  width: 117px;
  height: 24px;
  background: url("../images/v79_687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 186px;
  overflow: hidden;
}
.v79_688 {
  width: 117px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v79_689 {
  width: 88px;
  height: 40px;
  background: url("../images/v79_689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 425px;
  overflow: hidden;
}
.v79_690 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_691 {
  width: 12px;
  height: 14px;
  background: url("../images/v79_691.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 13px;
  overflow: hidden;
}
.v79_692 {
  width: 12px;
  height: 14px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v79_693 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_694 {
  width: 16px;
  height: 16px;
  background: url("../images/v79_694.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  overflow: hidden;
}
.v79_695 {
  width: 16px;
  height: 16px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v79_696 {
  width: 500px;
  height: 436px;
  background: rgba(250,251,252,1);
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 1px;
  overflow: hidden;
}
.v79_697 {
  width: 452px;
  height: 30px;
  background: url("../images/v79_697.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v79_698 {
  width: 329px;
  height: 30px;
  background: rgba(255,255,255,1);
  padding: 6px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 61px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_699 {
  width: 295px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 7px;
  left: 17px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v79_700 {
  width: 388px;
  height: 352px;
  background: url("../images/v79_700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 24px;
  overflow: hidden;
}
.v79_701 {
  width: 32px;
  height: 36px;
  background: url("../images/v79_701.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v79_702 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_703 {
  width: 32px;
  height: 32px;
  background: url("../images/v79_703.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v79_704 {
  width: 355px;
  height: 352px;
  background: url("../images/v79_704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.v79_705 {
  width: 355px;
  height: 28px;
  background: url("../images/v79_705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v79_706 {
  width: 355px;
  height: 24px;
  background: url("../images/v79_706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v79_707 {
  width: 113px;
  height: 24px;
  background: url("../images/v79_707.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v79_708 {
  width: 113px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v79_709 {
  width: 116px;
  height: 24px;
  background: url("../images/v79_709.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 121px;
  overflow: hidden;
}
.v79_710 {
  width: 116px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v79_711 {
  width: 355px;
  height: 320px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 26px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_712 {
  width: 115px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 17px;
  left: 17px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v79_713 {
  width: 320px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 69px;
  left: 17px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v79_714 {
  width: 321px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 199px;
  left: 17px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v79_715 {
  width: 452px;
  height: 66px;
  background: url("../images/v79_715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 24px;
  overflow: hidden;
}
.v79_716 {
  width: 487px;
  height: 66px;
  background: rgba(255,223,148,0.20000000298023224);
  padding: 7px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v79_717 {
  width: 13px;
  height: 13px;
  background: url("../images/v79_717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 17px;
  overflow: hidden;
}
.v79_718 {
  width: 13px;
  height: 13px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v79_719 {
  width: 427px;
  color: rgba(114,88,0,1);
  position: absolute;
  top: 8px;
  left: 38px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v81_1123 {
  width: 420px;
  height: 40px;
  background: url("../images/v81_1123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 159px;
  overflow: hidden;
}
.v79_720 {
  width: 500px;
  height: 257px;
  background: rgba(255,255,255,1);
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 1px;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.019999999552965164);
  overflow: hidden;
}
.v79_721 {
  width: 452px;
  height: 208px;
  background: url("../images/v79_721.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 24px;
  overflow: hidden;
}
.v79_722 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_723 {
  width: 30px;
  height: 30px;
  background: url("../images/v79_723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v79_724 {
  width: 404px;
  height: 208px;
  background: url("../images/v79_724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.v79_725 {
  width: 404px;
  height: 208px;
  background: rgba(255,255,255,1);
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v79_726 {
  width: 402px;
  height: 128px;
  background: url("../images/v79_726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v79_727 {
  width: 370px;
  height: 24px;
  background: url("../images/v79_727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v79_728 {
  width: 254px;
  color: rgba(92,64,61,0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v79_729 {
  width: 402px;
  height: 71px;
  background: rgba(255,255,255,0.5);
  padding: 12px 16px;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 1px;
  overflow: hidden;
}
.v79_730 {
  width: 133px;
  height: 39px;
  background: url("../images/v79_730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v79_731 {
  width: 24px;
  height: 34px;
  background: url("../images/v79_731.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v79_732 {
  width: 8px;
  height: 11px;
  background: url("../images/v79_732.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v79_733 {
  width: 8px;
  height: 11px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v79_734 {
  width: 26px;
  height: 34px;
  background: url("../images/v79_734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v79_735 {
  width: 10px;
  height: 11px;
  background: url("../images/v79_735.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v79_736 {
  width: 10px;
  height: 11px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v79_737 {
  width: 9px;
  height: 39px;
  background: url("../images/v79_737.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}
.v79_738 {
  width: 9px;
  height: 16px;
  background: url("../images/v79_738.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v79_739 {
  width: 1px;
  height: 16px;
  background: rgba(229,189,185,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v79_740 {
  width: 26px;
  height: 39px;
  background: url("../images/v79_740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v79_741 {
  width: 10px;
  height: 16px;
  background: url("../images/v79_741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v79_742 {
  width: 10px;
  height: 16px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v79_743 {
  width: 31px;
  height: 38px;
  background: url("../images/v79_743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 102px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v79_744 {
  width: 15px;
  height: 15px;
  background: url("../images/v79_744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v79_745 {
  width: 15px;
  height: 15px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v79_746 {
  width: 131px;
  height: 46px;
  background: rgba(200,16,46,1);
  padding: 10px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 254px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v79_747 {
  width: 131px;
  height: 46px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v79_748 {
  width: 14px;
  height: 12px;
  background: url("../images/v79_748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 25px;
  overflow: hidden;
}
.v79_749 {
  width: 14px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v79_750 {
  width: 59px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 47px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v110_532 {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,1);
  margin: 295px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v110_533 {
  width: 420px;
  height: 40px;
  background: url("../images/v110_533.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 953px;
  overflow: hidden;
}
.v110_534 {
  width: 140px;
  height: 40px;
  background: url("../images/v110_534.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 684px;
  overflow: hidden;
}
.v110_535 {
  width: 32px;
  height: 36px;
  background: url("../images/v110_535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_536 {
  width: 16px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v110_537 {
  width: 36px;
  height: 36px;
  background: url("../images/v110_537.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 48px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_538 {
  width: 20px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v110_539 {
  width: 256px;
  height: 40px;
  background: url("../images/v110_539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 224px;
  overflow: hidden;
}
.v110_540 {
  width: 412px;
  height: 40px;
  background: rgba(243,244,245,1);
  padding: 10px 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_541 {
  width: 200px;
  height: 20px;
  background: url("../images/v110_541.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 40px;
  overflow: hidden;
}
.v110_542 {
  width: 96px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v110_543 {
  width: 18px;
  height: 24px;
  background: url("../images/v110_543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v110_544 {
  width: 18px;
  height: 18px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v110_545 {
  width: 293px;
  height: 72px;
  background: url("../images/v110_545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 788px;
  overflow: hidden;
}
.v110_546 {
  width: 40px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 52px;
  left: 64px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_547 {
  width: 48px;
  height: 48px;
  background: url("../images/v110_547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_548 {
  width: 44px;
  height: 44px;
  background: url("../images/v110_548.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v110_549 {
  width: 239px;
  height: 52px;
  background: url("../images/v110_549.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 54px;
  overflow: hidden;
}
.v110_550 {
  width: 239px;
  height: 16px;
  background: url("../images/v110_550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v110_551 {
  width: 111px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 28px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v81_2474 {
  width: 288px;
  height: 1052px;
  background: rgba(253,253,253,1);
  padding: 24px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2481 {
  width: 287px;
  height: 320px;
  background: url("../images/v81_2481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 0px;
  overflow: hidden;
}
.v81_2482 {
  width: 255px;
  height: 48px;
  background: rgba(255,180,171,0.10000000149011612);
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 17px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2483 {
  width: 148px;
  color: rgba(255,56,60,1);
  position: absolute;
  top: 12px;
  left: 46px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2484 {
  width: 20px;
  height: 20px;
  background: url("../images/v81_2484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 16px;
  overflow: hidden;
}
.v81_2491 {
  width: 255px;
  height: 48px;
  background: url("../images/v81_2491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2492 {
  width: 20px;
  height: 18px;
  background: url("../images/v81_2492.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
  overflow: hidden;
}
.v81_2493 {
  width: 20px;
  height: 18px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2494 {
  width: 49px;
  height: 24px;
  background: url("../images/v81_2494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 48px;
  overflow: hidden;
}
.v81_2485 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 33px;
}
.v81_2486 {
  width: 97px;
  height: 24px;
  background: url("../images/v81_2486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 16px;
  overflow: hidden;
}
.v81_2487 {
  width: 255px;
  height: 44px;
  background: url("../images/v81_2487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2488 {
  width: 19px;
  height: 20px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
}
.v81_2489 {
  width: 139px;
  height: 24px;
  background: url("../images/v81_2489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 44px;
  overflow: hidden;
}
.v81_2490 {
  width: 151px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2522 {
  width: 210px;
  height: 86px;
  background: url("../images/v81_2522.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 740px;
  left: 16px;
  overflow: hidden;
}
.v81_2496 {
  width: 207px;
  height: 44px;
  background: url("../images/v81_2496.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2497 {
  width: 20px;
  height: 20px;
  background: url("../images/v81_2497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.v81_2498 {
  width: 20px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2499 {
  width: 57px;
  height: 16px;
  background: url("../images/v81_2499.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 40px;
  overflow: hidden;
}
.v81_2500 {
  width: 45px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2501 {
  width: 207px;
  height: 42px;
  background: url("../images/v81_2501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 3px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2502 {
  width: 18px;
  height: 18px;
  background: url("../images/v81_2502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.v81_2503 {
  width: 18px;
  height: 18px;
  background: rgba(186,26,26,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2504 {
  width: 96px;
  height: 16px;
  background: url("../images/v81_2504.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 38px;
  overflow: hidden;
}
.v81_2505 {
  width: 84px;
  color: rgba(186,26,26,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2506 {
  width: 287px;
  height: 48px;
  background: url("../images/v81_2506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 24px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 0px;
  overflow: hidden;
}
.v81_2507 {
  width: 18px;
  height: 20px;
  background: url("../images/v81_2507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 33px;
  overflow: hidden;
}
.v81_2508 {
  width: 18px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2509 {
  width: 139px;
  height: 24px;
  background: url("../images/v81_2509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 58px;
  overflow: hidden;
}
.v81_2510 {
  width: 140px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2511 {
  width: 152px;
  height: 24px;
  background: url("../images/v81_2511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 8px;
  overflow: hidden;
}
.v81_2512 {
  width: 20px;
  height: 20px;
  background: url("../images/v81_2512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 25px;
  overflow: hidden;
}
.v81_2513 {
  width: 20px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2514 {
  width: 132px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 59px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2495 {
  width: 119px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 29px;
  left: 64px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2515 {
  width: 255px;
  height: 48px;
  background: url("../images/v81_2515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2516 {
  width: 19px;
  height: 20px;
  background: url("../images/v81_2516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 16px;
  overflow: hidden;
}
.v81_2517 {
  width: 19px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2518 {
  width: 138px;
  height: 24px;
  background: url("../images/v81_2518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 48px;
  overflow: hidden;
}
.v81_2519 {
  width: 138px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2520 {
  width: 207px;
  height: 50px;
  background: url("../images/v81_2520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 1002px;
  left: 20px;
  overflow: hidden;
}
.v119_33 {
  width: 287px;
  height: 148px;
  background: url("../images/v119_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v119_34 {
  width: 287px;
  height: 116px;
  background: url("../images/v119_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v119_35 {
  width: 239px;
  height: 52px;
  background: url("../images/v119_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 24px;
  overflow: hidden;
}
.v119_36 {
  width: 239px;
  height: 16px;
  background: url("../images/v119_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v119_37 {
  width: 179px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v119_38 {
  width: 100px;
  height: 71px;
  background: url("../images/v119_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 62px;
  overflow: hidden;
}
