# =========================
# APP
# =========================
VITE_APP_NAME=Net Viet Travel
VITE_APP_ENV=development


# =========================
# BACKEND API
# =========================
VITE_API_URL=http://localhost:3000/api


# =========================
# FRONTEND URL
# =========================
VITE_FRONTEND_URL=http://localhost:5173


# =========================
# CLOUDINARY PUBLIC
# Không đưa API secret lên frontend
# =========================
VITE_CLOUDINARY_CLOUD_NAME=
