* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v168_195 {
  width: 100%;
  height: 1530px;
  background: url("../images/v168_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_930 {
  width: 100%;
  height: 1530px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_931 {
  width: 100%;
  height: 100%;
  background: url("../images/v9_931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 0px;
  overflow: hidden;
}
.v9_932 {
  width: 100%;
  height: 1070px;
  background: url("../images/v9_932.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 24px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v9_934 {
  width: 100%;
  height: 1285px;
  background: url("../images/v9_934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 24px;
  overflow: hidden;
}
.v9_935 {
  width: 389px;
  height: 1284px;
  background: url("../images/v9_935.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 842px;
  overflow: hidden;
}
.v9_936 {
  width: 389px;
  height: 752px;
  background: url("../images/v9_936.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_937 {
  width: 389px;
  height: 430px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 24px 24px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 2px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v9_938 {
  width: 339px;
  height: 32px;
  background: url("../images/v9_938.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 25px;
  overflow: hidden;
}
.v9_939 {
  width: 210px;
  color: rgba(31,41,55,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_940 {
  width: 339px;
  height: 117px;
  background: url("../images/v9_940.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 25px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_958 {
  width: 339px;
  height: 60px;
  background: url("../images/v9_958.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 58px;
  opacity: 1;
  position: absolute;
  top: 229px;
  left: 25px;
  overflow: hidden;
}
.v9_959 {
  width: 94px;
  height: 28px;
  background: url("../images/v9_959.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v9_960 {
  width: 97px;
  color: rgba(31,41,55,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Black Italic;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_989 {
  width: 810px;
  height: 592px;
  background: url("../images/v9_989.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_4868 {
  width: 816px;
  height: 305px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 24px 24px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v39_4869 {
  width: 810px;
  height: 478px;
  background: url("../images/v39_4869.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 1px 1px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_4870 {
  width: 40px;
  height: 40px;
  background: url("../images/v39_4870.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v39_4871 {
  width: 20px;
  height: 40px;
  background: rgba(214,40,40,0.029999999329447746);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
}
.v39_4872 {
  width: 811px;
  height: 305px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0px 10px 40px rgba(0.8392156958580017, 0.1568627506494522, 0.1568627506494522, 0.07999999821186066);
  overflow: hidden;
}
.v39_4873 {
  width: 760px;
  height: 32px;
  background: url("../images/v39_4873.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 445px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v39_4874 {
  width: 238px;
  height: 32px;
  background: url("../images/v39_4874.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_4875 {
  width: 27px;
  height: 23px;
  background: url("../images/v39_4875.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v39_4876 {
  width: 27px;
  height: 23px;
  background: rgba(214,40,40,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v39_4877 {
  width: 216px;
  color: rgba(31,41,55,1);
  position: absolute;
  top: 0px;
  left: 36px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v39_4880 {
  width: 760px;
  height: 372px;
  background: url("../images/v39_4880.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 25px;
  overflow: hidden;
}
.v39_4881 {
  width: 708px;
  height: 178px;
  background: rgba(255,255,255,1);
  padding: 24px 24px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 61px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v39_4884 {
  width: 495px;
  height: 128px;
  background: url("../images/v39_4884.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 247px;
  overflow: hidden;
}
.v39_4885 {
  width: 494px;
  height: 87px;
  background: url("../images/v39_4885.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4895 {
  width: 494px;
  height: 36px;
  background: url("../images/v39_4895.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 42px;
  overflow: hidden;
}
.v39_4896 {
  width: 494px;
  height: 28px;
  background: url("../images/v39_4896.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_1051 {
  width: 486px;
  color: rgba(31,41,55,1);
  position: absolute;
  top: 242px;
  left: 24px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v9_1052 {
  width: 100%;
  height: 73px;
  background: url("../images/v9_1052.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 64px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_1579 {
  width: 100%;
  height: 96px;
  background: rgba(252,248,249,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v39_1583 {
  width: 494px;
  height: 30px;
  background: url("../images/v39_1583.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 295px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_1592 {
  width: 333px;
  height: 42px;
  background: url("../images/v39_1592.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 866px;
  overflow: hidden;
}
.v39_1593 {
  width: 91px;
  height: 20px;
  background: url("../images/v39_1593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v39_1594 {
  width: 20px;
  height: 20px;
  background: url("../images/v39_1594.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_1595 {
  width: 20px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v39_1596 {
  width: 20px;
  height: 18px;
  background: url("../images/v39_1596.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 36px;
  overflow: hidden;
}
.v39_1597 {
  width: 20px;
  height: 18px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v39_1598 {
  width: 19px;
  height: 20px;
  background: url("../images/v39_1598.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  overflow: hidden;
}
.v39_1599 {
  width: 19px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.v73_1912 {
  width: 240px;
  height: 53px;
  background: url("../images/v73_1912.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 85px;
  overflow: hidden;
}
.v73_1590 {
  width: 100%;
  height: 516px;
  background: rgba(214,40,40,1);
  padding: 80px 0px;
  opacity: 1;
  position: absolute;
  top: 1022px;
  left: 0px;
  overflow: hidden;
}
.v73_1591 {
  width: 100%;
  height: 359px;
  background: url("../images/v73_1591.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v73_1592 {
  width: 100%;
  height: 242px;
  background: url("../images/v73_1592.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}
.v73_1593 {
  width: 244px;
  height: 242px;
  background: url("../images/v73_1593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1594 {
  width: 244px;
  height: 42px;
  background: url("../images/v73_1594.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1595 {
  width: 232px;
  height: 55px;
  background: url("../images/v73_1595.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1596 {
  width: 244px;
  height: 104px;
  background: url("../images/v73_1596.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 0px;
  overflow: hidden;
}
.v73_1597 {
  width: 258px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1598 {
  width: 244px;
  height: 48px;
  background: url("../images/v73_1598.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 0px;
  overflow: hidden;
}
.v73_1599 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v73_1601 {
  width: 20px;
  height: 20px;
  background: url("../images/v73_1601.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  overflow: hidden;
}
.v73_1602 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 56px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v73_1603 {
  width: 20px;
  height: 20px;
  background: url("../images/v73_1603.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v73_1605 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 112px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v73_1606 {
  width: 20px;
  height: 20px;
  background: url("../images/v73_1606.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v73_1608 {
  width: 244px;
  height: 241px;
  background: url("../images/v73_1608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 292px;
  overflow: hidden;
}
.v73_1609 {
  width: 244px;
  height: 20px;
  background: url("../images/v73_1609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1610 {
  width: 103px;
  color: rgba(244,197,66,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v73_1611 {
  width: 244px;
  height: 144px;
  background: url("../images/v73_1611.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v73_1612 {
  width: 244px;
  height: 24px;
  background: url("../images/v73_1612.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1613 {
  width: 195px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1614 {
  width: 244px;
  height: 24px;
  background: url("../images/v73_1614.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v73_1615 {
  width: 135px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1616 {
  width: 244px;
  height: 24px;
  background: url("../images/v73_1616.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v73_1617 {
  width: 156px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1618 {
  width: 244px;
  height: 24px;
  background: url("../images/v73_1618.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v73_1619 {
  width: 147px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1620 {
  width: 244px;
  height: 241px;
  background: url("../images/v73_1620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 584px;
  overflow: hidden;
}
.v73_1621 {
  width: 244px;
  height: 20px;
  background: url("../images/v73_1621.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1622 {
  width: 179px;
  color: rgba(244,197,66,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v73_1623 {
  width: 244px;
  height: 144px;
  background: url("../images/v73_1623.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v73_1624 {
  width: 244px;
  height: 24px;
  background: url("../images/v73_1624.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1625 {
  width: 162px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1626 {
  width: 244px;
  height: 24px;
  background: url("../images/v73_1626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v73_1627 {
  width: 158px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1628 {
  width: 244px;
  height: 24px;
  background: url("../images/v73_1628.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v73_1629 {
  width: 159px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1630 {
  width: 244px;
  height: 24px;
  background: url("../images/v73_1630.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v73_1631 {
  width: 104px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1632 {
  width: 244px;
  height: 241px;
  background: url("../images/v73_1632.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 876px;
  overflow: hidden;
}
.v73_1633 {
  width: 244px;
  height: 20px;
  background: url("../images/v73_1633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1634 {
  width: 64px;
  color: rgba(244,197,66,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v73_1635 {
  width: 244px;
  height: 88px;
  background: url("../images/v73_1635.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v73_1636 {
  width: 244px;
  height: 48px;
  background: url("../images/v73_1636.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1637 {
  width: 9px;
  height: 48px;
  background: url("../images/v73_1637.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v73_1638 {
  width: 9px;
  height: 11px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v73_1639 {
  width: 221px;
  height: 48px;
  background: url("../images/v73_1639.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 17px;
  overflow: hidden;
}
.v73_1640 {
  width: 193px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1641 {
  width: 244px;
  height: 24px;
  background: url("../images/v73_1641.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v73_1642 {
  width: 11px;
  height: 24px;
  background: url("../images/v73_1642.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v73_1643 {
  width: 11px;
  height: 9px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v73_1644 {
  width: 136px;
  height: 24px;
  background: url("../images/v73_1644.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19px;
  overflow: hidden;
}
.v73_1645 {
  width: 200px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1646 {
  width: 256px;
  height: 25px;
  background: url("../images/v73_1646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 876px;
  overflow: hidden;
}
.v73_1647 {
  width: 9px;
  height: 9px;
  background: url("../images/v73_1647.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v73_1648 {
  width: 18px;
  height: 9px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v73_1649 {
  width: 86px;
  height: 25px;
  background: url("../images/v73_1649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 26px;
  overflow: hidden;
}
.v73_1650 {
  width: 136px;
  height: 24px;
  background: url("../images/v73_1650.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 18px;
  overflow: hidden;
}
.v73_1651 {
  width: 115px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 1px;
  left: 7px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v73_1652 {
  width: 100%;
  height: 53px;
  background: url("../images/v73_1652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 0px;
  margin: 710px;
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 80px;
  overflow: hidden;
}
.v73_1653 {
  width: 181px;
  height: 20px;
  background: url("../images/v73_1653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v73_1654 {
  width: 120px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v73_1655 {
  width: 228px;
  height: 20px;
  background: url("../images/v73_1655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 891px;
  overflow: hidden;
}
.v73_1656 {
  width: 51px;
  height: 20px;
  background: url("../images/v73_1656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v73_1657 {
  width: 55px;
  height: 20px;
  background: url("../images/v73_1657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 83px;
  overflow: hidden;
}
.v73_1658 {
  width: 79px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v73_1659 {
  width: 56px;
  height: 20px;
  background: url("../images/v73_1659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 171px;
  overflow: hidden;
}
.v73_1660 {
  width: 54px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
