* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v168_155 {
  width: 100%;
  height: 2362px;
  background: url("../images/v168_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_4108 {
  width: 100%;
  height: 2346px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1094 {
  width: 100%;
  height: 516px;
  background: rgba(214,40,40,1);
  padding: 80px 0px;
  opacity: 1;
  position: absolute;
  top: 1839px;
  left: 2px;
  overflow: hidden;
}
.v201_1095 {
  width: 100%;
  height: 359px;
  background: url("../images/v201_1095.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v201_1096 {
  width: 100%;
  height: 242px;
  background: url("../images/v201_1096.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}
.v201_1097 {
  width: 244px;
  height: 242px;
  background: url("../images/v201_1097.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1098 {
  width: 244px;
  height: 42px;
  background: url("../images/v201_1098.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1099 {
  width: 232px;
  height: 55px;
  background: url("../images/v201_1099.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1100 {
  width: 244px;
  height: 104px;
  background: url("../images/v201_1100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 0px;
  overflow: hidden;
}
.v201_1101 {
  width: 258px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1102 {
  width: 244px;
  height: 48px;
  background: url("../images/v201_1102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 0px;
  overflow: hidden;
}
.v201_1103 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v201_1105 {
  width: 20px;
  height: 20px;
  background: url("../images/v201_1105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  overflow: hidden;
}
.v201_1106 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 56px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v201_1107 {
  width: 20px;
  height: 20px;
  background: url("../images/v201_1107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v201_1109 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 112px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v201_1110 {
  width: 20px;
  height: 20px;
  background: url("../images/v201_1110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v201_1112 {
  width: 244px;
  height: 241px;
  background: url("../images/v201_1112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 292px;
  overflow: hidden;
}
.v201_1113 {
  width: 244px;
  height: 20px;
  background: url("../images/v201_1113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1114 {
  width: 103px;
  color: rgba(244,197,66,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v201_1115 {
  width: 244px;
  height: 144px;
  background: url("../images/v201_1115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v201_1116 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1117 {
  width: 195px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1118 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v201_1119 {
  width: 135px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1120 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v201_1121 {
  width: 156px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1122 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v201_1123 {
  width: 147px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1124 {
  width: 244px;
  height: 241px;
  background: url("../images/v201_1124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 584px;
  overflow: hidden;
}
.v201_1125 {
  width: 244px;
  height: 20px;
  background: url("../images/v201_1125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1126 {
  width: 179px;
  color: rgba(244,197,66,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v201_1127 {
  width: 244px;
  height: 144px;
  background: url("../images/v201_1127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v201_1128 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1129 {
  width: 162px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1130 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v201_1131 {
  width: 158px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1132 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v201_1133 {
  width: 159px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1134 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v201_1135 {
  width: 104px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1136 {
  width: 244px;
  height: 241px;
  background: url("../images/v201_1136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 876px;
  overflow: hidden;
}
.v201_1137 {
  width: 244px;
  height: 20px;
  background: url("../images/v201_1137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1138 {
  width: 64px;
  color: rgba(244,197,66,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v201_1139 {
  width: 244px;
  height: 88px;
  background: url("../images/v201_1139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v201_1140 {
  width: 244px;
  height: 48px;
  background: url("../images/v201_1140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1141 {
  width: 9px;
  height: 48px;
  background: url("../images/v201_1141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v201_1142 {
  width: 9px;
  height: 11px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v201_1143 {
  width: 221px;
  height: 48px;
  background: url("../images/v201_1143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v201_1144 {
  width: 193px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1145 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v201_1146 {
  width: 11px;
  height: 24px;
  background: url("../images/v201_1146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v201_1147 {
  width: 11px;
  height: 9px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v201_1148 {
  width: 136px;
  height: 24px;
  background: url("../images/v201_1148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v201_1149 {
  width: 200px;
  color: rgba(255,255,255,0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1150 {
  width: 256px;
  height: 25px;
  background: url("../images/v201_1150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 876px;
  overflow: hidden;
}
.v201_1151 {
  width: 9px;
  height: 9px;
  background: url("../images/v201_1151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v201_1152 {
  width: 18px;
  height: 9px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v201_1153 {
  width: 86px;
  height: 25px;
  background: url("../images/v201_1153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 26px;
  overflow: hidden;
}
.v201_1154 {
  width: 136px;
  height: 24px;
  background: url("../images/v201_1154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 18px;
  overflow: hidden;
}
.v201_1155 {
  width: 115px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 1px;
  left: 7px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1156 {
  width: 100%;
  height: 53px;
  background: url("../images/v201_1156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 0px;
  margin: 710px;
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 80px;
  overflow: hidden;
}
.v201_1157 {
  width: 181px;
  height: 20px;
  background: url("../images/v201_1157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v201_1158 {
  width: 120px;
  color: rgba(255,255,255,0.6000000238418579);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v201_1159 {
  width: 228px;
  height: 20px;
  background: url("../images/v201_1159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 892px;
  overflow: hidden;
}
.v201_1160 {
  width: 51px;
  height: 20px;
  background: url("../images/v201_1160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1161 {
  width: 55px;
  height: 20px;
  background: url("../images/v201_1161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 84px;
  overflow: hidden;
}
.v201_1162 {
  width: 79px;
  color: rgba(255,255,255,0.6000000238418579);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v201_1163 {
  width: 56px;
  height: 20px;
  background: url("../images/v201_1163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 172px;
  overflow: hidden;
}
.v201_1164 {
  width: 54px;
  color: rgba(255,255,255,0.6000000238418579);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v39_4110 {
  width: 100%;
  height: 2104px;
  background: url("../images/v39_4110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 2px;
  overflow: hidden;
}
.v39_4112 {
  width: 100%;
  height: 1723px;
  background: url("../images/v39_4112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 24px;
  margin: 31px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 42px;
  overflow: hidden;
}
.v39_4113 {
  width: 100%;
  height: 148px;
  background: rgba(255,255,255,1);
  padding: 32px 32px;
  margin: 225px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 24px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v39_4114 {
  width: 447px;
  height: 64px;
  background: url("../images/v39_4114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 33px;
  overflow: hidden;
}
.v39_4115 {
  width: 64px;
  height: 64px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v39_4116 {
  width: 24px;
  height: 28px;
  background: url("../images/v39_4116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 20px;
  overflow: hidden;
}
.v39_4117 {
  width: 24px;
  height: 28px;
  background: rgba(255,218,216,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v39_4118 {
  width: 367px;
  height: 55px;
  background: url("../images/v39_4118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 80px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v39_4121 {
  width: 367px;
  height: 24px;
  background: url("../images/v39_4121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v39_4122 {
  width: 383px;
  color: rgba(95,94,94,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v39_4123 {
  width: 425px;
  height: 82px;
  background: rgba(245,243,243,1);
  padding: 16px 16px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 694px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v39_4129 {
  width: 138px;
  height: 50px;
  background: url("../images/v39_4129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 156px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4134 {
  width: 106px;
  height: 18px;
  background: url("../images/v39_4134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v39_4135 {
  width: 106px;
  height: 2px;
  background: rgba(229,189,187,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v39_4136 {
  width: 8px;
  height: 8px;
  background: rgba(158,0,31,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v39_4137 {
  width: 8px;
  height: 8px;
  background: rgba(158,0,31,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 99px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v39_4143 {
  width: 100%;
  height: 1131px;
  background: url("../images/v39_4143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 1px 0px;
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 24px;
  overflow: hidden;
}
.v39_4144 {
  width: 760px;
  height: 1129px;
  background: url("../images/v39_4144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v39_4145 {
  width: 760px;
  height: 49px;
  background: url("../images/v39_4145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4155 {
  width: 760px;
  height: 387px;
  background: rgba(255,255,255,1);
  padding: 32px 32px;
  margin: 23px;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v39_4156 {
  width: 694px;
  height: 31px;
  background: url("../images/v39_4156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 356px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 33px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4169 {
  width: 694px;
  height: 266px;
  background: rgba(245,243,243,1);
  padding: 32px 32px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 33px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v39_4170 {
  width: 606px;
  height: 146px;
  background: url("../images/v39_4170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 44px;
  overflow: hidden;
}
.v39_4171 {
  width: 133px;
  height: 146px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4180 {
  width: 133px;
  height: 146px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 158px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4189 {
  width: 133px;
  height: 146px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 315px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4198 {
  width: 133px;
  height: 146px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 473px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4209 {
  width: 760px;
  height: 280px;
  background: url("../images/v39_4209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4258 {
  width: 760px;
  height: 364px;
  background: rgba(255,255,255,1);
  padding: 31px 32px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 764px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v39_4259 {
  width: 694px;
  height: 32px;
  background: url("../images/v39_4259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 33px;
  overflow: hidden;
}
.v39_4260 {
  width: 694px;
  color: rgba(27,28,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v39_4261 {
  width: 694px;
  height: 243px;
  background: url("../images/v39_4261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 33px;
  overflow: hidden;
}
.v39_4262 {
  width: 2px;
  height: 228px;
  background: rgba(229,189,187,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 11px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4299 {
  width: 368px;
  height: 1189px;
  background: url("../images/v39_4299.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 784px;
  overflow: hidden;
}
.v39_4300 {
  width: 368px;
  height: 729px;
  background: url("../images/v39_4300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_4301 {
  width: 368px;
  height: 447px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v39_4302 {
  width: 368px;
  height: 447px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v39_4303 {
  width: 318px;
  height: 31px;
  background: url("../images/v39_4303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v39_4304 {
  width: 19px;
  height: 20px;
  background: url("../images/v39_4304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v39_4305 {
  width: 19px;
  height: 20px;
  background: rgba(158,0,31,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v39_4306 {
  width: 193px;
  color: rgba(27,28,28,1);
  position: absolute;
  top: 1px;
  left: 33px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v39_4307 {
  width: 318px;
  height: 163px;
  background: url("../images/v39_4307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 25px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4323 {
  width: 318px;
  height: 60px;
  background: rgba(255,218,216,1);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v39_4324 {
  width: 286px;
  height: 28px;
  background: url("../images/v39_4324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v39_4325 {
  width: 84px;
  height: 24px;
  background: url("../images/v39_4325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v39_4326 {
  width: 84px;
  color: rgba(65,0,7,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4333 {
  width: 318px;
  height: 15px;
  background: url("../images/v39_4333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 407px;
  left: 25px;
  overflow: hidden;
}
.v39_4334 {
  width: 197px;
  color: rgba(95,94,94,1);
  position: absolute;
  top: 0px;
  left: 61px;
  font-family: Be Vietnam;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v39_4335 {
  width: 368px;
  height: 174px;
  background: rgba(48,48,49,1);
  padding: 23px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v39_4336 {
  width: 96px;
  height: 96px;
  background: rgba(158,0,31,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 288px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v39_4337 {
  width: 320px;
  height: 32px;
  background: url("../images/v39_4337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 24px;
  overflow: hidden;
}
.v39_4338 {
  width: 320px;
  color: rgba(242,240,240,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v39_4339 {
  width: 320px;
  height: 48px;
  background: url("../images/v39_4339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.800000011920929;
  position: absolute;
  top: 63px;
  left: 24px;
  overflow: hidden;
}
.v39_4340 {
  width: 320px;
  color: rgba(242,240,240,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v39_4345 {
  width: 368px;
  height: 76px;
  background: url("../images/v39_4345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_4356 {
  width: 100%;
  height: 317px;
  background: url("../images/v39_4356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 23px;
  opacity: 1;
  position: absolute;
  top: 1373px;
  left: 24px;
  overflow: hidden;
}
.v39_4357 {
  width: 100%;
  height: 32px;
  background: url("../images/v39_4357.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_4358 {
  width: 100%;
  color: rgba(27,28,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v39_4359 {
  width: 100%;
  height: 262px;
  background: url("../images/v39_4359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v201_755 {
  width: 100%;
  height: 96px;
  background: rgba(252,248,249,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v201_757 {
  width: 100%;
  height: 96px;
  background: url("../images/v201_757.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 71px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_758 {
  width: 494px;
  height: 30px;
  background: url("../images/v201_758.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 285px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v201_767 {
  width: 333px;
  height: 42px;
  background: url("../images/v201_767.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 867px;
  overflow: hidden;
}
.v201_768 {
  width: 91px;
  height: 20px;
  background: url("../images/v201_768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v201_769 {
  width: 20px;
  height: 20px;
  background: url("../images/v201_769.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_770 {
  width: 20px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v201_771 {
  width: 20px;
  height: 18px;
  background: url("../images/v201_771.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 36px;
  overflow: hidden;
}
.v201_772 {
  width: 20px;
  height: 18px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v201_773 {
  width: 19px;
  height: 20px;
  background: url("../images/v201_773.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  overflow: hidden;
}
.v201_774 {
  width: 19px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.v201_780 {
  width: 240px;
  height: 53px;
  background: url("../images/v201_780.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 64px;
  overflow: hidden;
}
