* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v168_185 {
  width: 100%;
  height: 1733px;
  background: url("../images/v168_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_6093 {
  width: 100%;
  height: 100%;
  background: url("../images/v39_6093.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 0px;
  overflow: hidden;
}
.v1_1795 {
  width: 100%;
  height: 1136px;
  background: url("../images/v1_1795.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 63px 80px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 0px;
  overflow: hidden;
}
.v1_1796 {
  width: 100%;
  height: 99px;
  background: url("../images/v1_1796.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 80px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_1799 {
  width: 100%;
  height: 29px;
  background: url("../images/v1_1799.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 0px;
  overflow: hidden;
}
.v1_1800 {
  width: 502px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_1801 {
  width: 100%;
  height: 878px;
  background: url("../images/v1_1801.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 80px;
  overflow: hidden;
}
.v1_1802 {
  width: 352px;
  height: 878px;
  background: url("../images/v1_1802.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1821 {
  width: 352px;
  height: 276px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 32px 32px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 16px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v1_1822 {
  width: 352px;
  height: 275px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0px 10px 30px rgba(0.8392156958580017, 0.1568627506494522, 0.1568627506494522, 0.10000000149011612);
  overflow: hidden;
}
.v1_1823 {
  width: 286px;
  height: 34px;
  background: url("../images/v1_1823.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 31px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 33px;
  overflow: hidden;
}
.v1_1824 {
  width: 230px;
  height: 34px;
  background: url("../images/v1_1824.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1825 {
  width: 228px;
  color: rgba(27,27,28,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_1845 {
  width: 736px;
  height: 879px;
  background: url("../images/v1_1845.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 384px;
  overflow: hidden;
}
.v1_1846 {
  width: 736px;
  height: 508px;
  background: url("../images/v1_1846.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1847 {
  width: 736px;
  height: 34px;
  background: url("../images/v1_1847.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 449px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1848 {
  width: 205px;
  height: 34px;
  background: url("../images/v1_1848.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1849 {
  width: 205px;
  color: rgba(27,27,28,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_1852 {
  width: 736px;
  height: 450px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_1854 {
  width: 734px;
  height: 448px;
  background: linear-gradient(rgba(214,40,40,0.8999999761581421), rgba(214,40,40,0.20000000298023224));
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_1855 {
  width: 734px;
  height: 296px;
  background: url("../images/v1_1855.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 40px 40px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 1px;
  overflow: hidden;
}
.v1_1856 {
  width: 654px;
  height: 29px;
  background: url("../images/v1_1856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 40px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_1864 {
  width: 654px;
  height: 25px;
  background: url("../images/v1_1864.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 40px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_1875 {
  width: 654px;
  height: 78px;
  background: url("../images/v1_1875.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 0px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 40px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_1881 {
  width: 736px;
  height: 1px;
  background: linear-gradient(rgba(244,197,66,0), rgba(244,197,66,1));
  opacity: 1;
  position: absolute;
  top: 540px;
  left: 0px;
  overflow: hidden;
}
.v1_1882 {
  width: 42px;
  height: 24px;
  background: rgba(252,248,249,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 346px;
  overflow: hidden;
}
.v1_1883 {
  width: 12px;
  color: rgba(27,27,28,1);
  position: absolute;
  top: 0px;
  left: 15px;
  font-family: Liberation Serif;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_1884 {
  width: 736px;
  height: 306px;
  background: url("../images/v1_1884.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 0px;
  overflow: hidden;
}
.v1_1885 {
  width: 736px;
  height: 34px;
  background: url("../images/v1_1885.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1886 {
  width: 183px;
  color: rgba(27,27,28,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_1887 {
  width: 736px;
  height: 248px;
  background: url("../images/v1_1887.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v201_1526 {
  width: 100%;
  height: 516px;
  background: rgba(214,40,40,1);
  padding: 80px 0px;
  opacity: 1;
  position: absolute;
  top: 1105px;
  left: 0px;
  overflow: hidden;
}
.v201_1527 {
  width: 100%;
  height: 359px;
  background: url("../images/v201_1527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v201_1528 {
  width: 100%;
  height: 242px;
  background: url("../images/v201_1528.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}
.v201_1529 {
  width: 244px;
  height: 242px;
  background: url("../images/v201_1529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1530 {
  width: 244px;
  height: 42px;
  background: url("../images/v201_1530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1531 {
  width: 232px;
  height: 55px;
  background: url("../images/v201_1531.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1532 {
  width: 244px;
  height: 104px;
  background: url("../images/v201_1532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 0px;
  overflow: hidden;
}
.v201_1533 {
  width: 258px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1534 {
  width: 244px;
  height: 48px;
  background: url("../images/v201_1534.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 0px;
  overflow: hidden;
}
.v201_1535 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v201_1537 {
  width: 20px;
  height: 20px;
  background: url("../images/v201_1537.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  overflow: hidden;
}
.v201_1538 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 56px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v201_1539 {
  width: 20px;
  height: 20px;
  background: url("../images/v201_1539.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v201_1541 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 112px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v201_1542 {
  width: 20px;
  height: 20px;
  background: url("../images/v201_1542.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v201_1544 {
  width: 244px;
  height: 241px;
  background: url("../images/v201_1544.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 292px;
  overflow: hidden;
}
.v201_1545 {
  width: 244px;
  height: 20px;
  background: url("../images/v201_1545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1546 {
  width: 103px;
  color: rgba(244,197,66,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v201_1547 {
  width: 244px;
  height: 144px;
  background: url("../images/v201_1547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v201_1548 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1548.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1549 {
  width: 195px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1550 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v201_1551 {
  width: 135px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1552 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1552.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v201_1553 {
  width: 156px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1554 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1554.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v201_1555 {
  width: 147px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1556 {
  width: 244px;
  height: 241px;
  background: url("../images/v201_1556.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 584px;
  overflow: hidden;
}
.v201_1557 {
  width: 244px;
  height: 20px;
  background: url("../images/v201_1557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1558 {
  width: 179px;
  color: rgba(244,197,66,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v201_1559 {
  width: 244px;
  height: 144px;
  background: url("../images/v201_1559.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v201_1560 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1561 {
  width: 162px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1562 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v201_1563 {
  width: 158px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1564 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1564.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v201_1565 {
  width: 159px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1566 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v201_1567 {
  width: 104px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1568 {
  width: 244px;
  height: 241px;
  background: url("../images/v201_1568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 876px;
  overflow: hidden;
}
.v201_1569 {
  width: 244px;
  height: 20px;
  background: url("../images/v201_1569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1570 {
  width: 64px;
  color: rgba(244,197,66,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v201_1571 {
  width: 244px;
  height: 88px;
  background: url("../images/v201_1571.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v201_1572 {
  width: 244px;
  height: 48px;
  background: url("../images/v201_1572.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1573 {
  width: 9px;
  height: 48px;
  background: url("../images/v201_1573.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v201_1574 {
  width: 9px;
  height: 11px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v201_1575 {
  width: 221px;
  height: 48px;
  background: url("../images/v201_1575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 17px;
  overflow: hidden;
}
.v201_1576 {
  width: 193px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1577 {
  width: 244px;
  height: 24px;
  background: url("../images/v201_1577.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v201_1578 {
  width: 11px;
  height: 24px;
  background: url("../images/v201_1578.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v201_1579 {
  width: 11px;
  height: 9px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v201_1580 {
  width: 136px;
  height: 24px;
  background: url("../images/v201_1580.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19px;
  overflow: hidden;
}
.v201_1581 {
  width: 200px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1582 {
  width: 256px;
  height: 25px;
  background: url("../images/v201_1582.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 876px;
  overflow: hidden;
}
.v201_1583 {
  width: 9px;
  height: 9px;
  background: url("../images/v201_1583.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v201_1584 {
  width: 18px;
  height: 9px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v201_1585 {
  width: 86px;
  height: 25px;
  background: url("../images/v201_1585.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 26px;
  overflow: hidden;
}
.v201_1586 {
  width: 136px;
  height: 24px;
  background: url("../images/v201_1586.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 18px;
  overflow: hidden;
}
.v201_1587 {
  width: 115px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 1px;
  left: 7px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v201_1588 {
  width: 100%;
  height: 53px;
  background: url("../images/v201_1588.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 0px;
  margin: 710px;
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 80px;
  overflow: hidden;
}
.v201_1589 {
  width: 181px;
  height: 20px;
  background: url("../images/v201_1589.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v201_1590 {
  width: 120px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v201_1591 {
  width: 228px;
  height: 20px;
  background: url("../images/v201_1591.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 891px;
  overflow: hidden;
}
.v201_1592 {
  width: 51px;
  height: 20px;
  background: url("../images/v201_1592.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1593 {
  width: 55px;
  height: 20px;
  background: url("../images/v201_1593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 83px;
  overflow: hidden;
}
.v201_1594 {
  width: 79px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v201_1595 {
  width: 56px;
  height: 20px;
  background: url("../images/v201_1595.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 171px;
  overflow: hidden;
}
.v201_1596 {
  width: 54px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v39_6095 {
  width: 100%;
  height: 96px;
  background: rgba(252,248,249,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v201_1496 {
  width: 100%;
  height: 96px;
  background: rgba(252,248,249,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v201_1507 {
  width: 333px;
  height: 42px;
  background: url("../images/v201_1507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 866px;
  overflow: hidden;
}
.v201_1508 {
  width: 91px;
  height: 20px;
  background: url("../images/v201_1508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v201_1509 {
  width: 20px;
  height: 20px;
  background: url("../images/v201_1509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_1510 {
  width: 20px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v201_1511 {
  width: 20px;
  height: 18px;
  background: url("../images/v201_1511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 36px;
  overflow: hidden;
}
.v201_1512 {
  width: 20px;
  height: 18px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v201_1513 {
  width: 19px;
  height: 20px;
  background: url("../images/v201_1513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  overflow: hidden;
}
.v201_1514 {
  width: 19px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v201_1498 {
  width: 494px;
  height: 30px;
  background: url("../images/v201_1498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 285px;
  overflow: hidden;
}
.v201_1499 {
  width: 44px;
  height: 30px;
  background: url("../images/v201_1499.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 140px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v201_1503 {
  width: 98px;
  height: 24px;
  background: url("../images/v201_1503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 322px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v201_1520 {
  width: 240px;
  height: 53px;
  background: url("../images/v201_1520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 64px;
  overflow: hidden;
}
