* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v117_4942 {
  width: 100%;
  height: 1503px;
  background: url("../images/v117_4942.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4945 {
  width: 992px;
  height: 1503px;
  background: url("../images/v117_4945.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 288px;
  overflow: hidden;
}
.v117_4946 {
  width: 992px;
  height: 1397px;
  background: rgba(248,249,250,1);
  padding: 48px 48px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v117_4947 {
  width: 896px;
  height: 1268px;
  background: url("../images/v117_4947.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 48px;
  overflow: hidden;
}
.v117_4948 {
  width: 896px;
  height: 72px;
  background: url("../images/v117_4948.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4949 {
  width: 448px;
  height: 72px;
  background: url("../images/v117_4949.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4950 {
  width: 448px;
  height: 40px;
  background: url("../images/v117_4950.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4951 {
  width: 287px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v117_4952 {
  width: 448px;
  height: 24px;
  background: url("../images/v117_4952.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v117_4953 {
  width: 336px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_4954 {
  width: 896px;
  height: 59px;
  background: url("../images/v117_4954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_4971 {
  width: 896px;
  height: 339px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.029999999329447746);
  overflow: hidden;
}
.v117_4972 {
  width: 297px;
  height: 337px;
  background: url("../images/v117_4972.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v117_4973 {
  width: 297px;
  height: 337px;
  background: url("../images/v117_4973.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4974 {
  width: 297px;
  height: 337px;
  background: linear-gradient(rgba(0,0,0,0.6000000238418579), rgba(0,0,0,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4975 {
  width: 170px;
  height: 24px;
  background: url("../images/v117_4975.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 16px;
  overflow: hidden;
}
.v117_4976 {
  width: 45px;
  height: 24px;
  background: rgba(255,215,0,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_4977 {
  width: 29px;
  color: rgba(114,88,0,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_4978 {
  width: 117px;
  height: 24px;
  background: rgba(255,255,255,0.8999999761581421);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 53px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_4979 {
  width: 101px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_4980 {
  width: 595px;
  height: 337px;
  background: url("../images/v117_4980.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 298px;
  overflow: hidden;
}
.v117_4981 {
  width: 547px;
  height: 189px;
  background: url("../images/v117_4981.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v117_4982 {
  width: 547px;
  height: 32px;
  background: url("../images/v117_4982.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4983 {
  width: 536px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v117_4984 {
  width: 194px;
  height: 30px;
  background: rgba(217,226,255,1);
  padding: 4px 12px;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_4985 {
  width: 168px;
  color: rgba(0,26,67,1);
  position: absolute;
  top: 5px;
  left: 13px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4986 {
  width: 547px;
  height: 20px;
  background: url("../images/v117_4986.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 0px;
  overflow: hidden;
}
.v117_4987 {
  width: 156px;
  height: 20px;
  background: url("../images/v117_4987.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_4988 {
  width: 9px;
  height: 11px;
  background: url("../images/v117_4988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v117_4989 {
  width: 9px;
  height: 11px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_4990 {
  width: 143px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 13px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4991 {
  width: 159px;
  height: 20px;
  background: url("../images/v117_4991.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 172px;
  overflow: hidden;
}
.v117_4992 {
  width: 12px;
  height: 9px;
  background: url("../images/v117_4992.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v117_4993 {
  width: 12px;
  height: 9px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_4994 {
  width: 143px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4995 {
  width: 130px;
  height: 20px;
  background: url("../images/v117_4995.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 348px;
  overflow: hidden;
}
.v117_4996 {
  width: 12px;
  height: 9px;
  background: url("../images/v117_4996.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v117_4997 {
  width: 12px;
  height: 9px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_4998 {
  width: 94px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_4999 {
  width: 547px;
  height: 68px;
  background: url("../images/v117_4999.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v117_5000 {
  width: 547px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5001 {
  width: 547px;
  height: 100px;
  background: url("../images/v117_5001.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 0px;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 24px;
  overflow: hidden;
}
.v117_5002 {
  width: 547px;
  height: 84px;
  background: url("../images/v117_5002.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 0px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v117_5003 {
  width: 547px;
  height: 67px;
  background: url("../images/v117_5003.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  overflow: hidden;
}
.v117_5004 {
  width: 222px;
  height: 67px;
  background: url("../images/v117_5004.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5005 {
  width: 241px;
  height: 16px;
  background: url("../images/v117_5005.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5006 {
  width: 220px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v117_5010 {
  width: 325px;
  height: 44px;
  background: url("../images/v117_5010.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 222px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_5020 {
  width: 896px;
  height: 319px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 566px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.029999999329447746);
  overflow: hidden;
}
.v117_5021 {
  width: 297px;
  height: 317px;
  background: url("../images/v117_5021.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v117_5022 {
  width: 297px;
  height: 317px;
  background: url("../images/v117_5022.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5023 {
  width: 297px;
  height: 317px;
  background: url("../images/v117_5023.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5024 {
  width: 171px;
  height: 24px;
  background: url("../images/v117_5024.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 16px;
  overflow: hidden;
}
.v117_5025 {
  width: 45px;
  height: 24px;
  background: rgba(255,215,0,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_5026 {
  width: 29px;
  color: rgba(114,88,0,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5027 {
  width: 118px;
  height: 24px;
  background: rgba(255,255,255,0.8999999761581421);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 53px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_5028 {
  width: 102px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5029 {
  width: 595px;
  height: 317px;
  background: url("../images/v117_5029.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 298px;
  overflow: hidden;
}
.v117_5030 {
  width: 547px;
  height: 169px;
  background: url("../images/v117_5030.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v117_5031 {
  width: 547px;
  height: 32px;
  background: url("../images/v117_5031.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5032 {
  width: 383px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v117_5033 {
  width: 266px;
  height: 30px;
  background: rgba(217,226,255,1);
  padding: 4px 12px;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_5034 {
  width: 240px;
  color: rgba(0,26,67,1);
  position: absolute;
  top: 5px;
  left: 13px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5035 {
  width: 547px;
  height: 20px;
  background: url("../images/v117_5035.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 0px;
  overflow: hidden;
}
.v117_5036 {
  width: 81px;
  height: 20px;
  background: url("../images/v117_5036.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5037 {
  width: 9px;
  height: 11px;
  background: url("../images/v117_5037.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v117_5038 {
  width: 9px;
  height: 11px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_5039 {
  width: 68px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 13px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5040 {
  width: 63px;
  height: 20px;
  background: url("../images/v117_5040.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 97px;
  overflow: hidden;
}
.v117_5041 {
  width: 12px;
  height: 9px;
  background: url("../images/v117_5041.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v117_5042 {
  width: 12px;
  height: 9px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_5043 {
  width: 47px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5044 {
  width: 125px;
  height: 20px;
  background: url("../images/v117_5044.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 177px;
  overflow: hidden;
}
.v117_5045 {
  width: 12px;
  height: 9px;
  background: url("../images/v117_5045.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v117_5046 {
  width: 12px;
  height: 9px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_5047 {
  width: 89px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5048 {
  width: 547px;
  height: 48px;
  background: url("../images/v117_5048.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v117_5049 {
  width: 547px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5050 {
  width: 547px;
  height: 100px;
  background: url("../images/v117_5050.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 0px;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 24px;
  overflow: hidden;
}
.v117_5051 {
  width: 547px;
  height: 84px;
  background: url("../images/v117_5051.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 0px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v117_5052 {
  width: 547px;
  height: 67px;
  background: url("../images/v117_5052.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  overflow: hidden;
}
.v117_5053 {
  width: 222px;
  height: 67px;
  background: url("../images/v117_5053.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5054 {
  width: 241px;
  height: 16px;
  background: url("../images/v117_5054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5055 {
  width: 220px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v117_5059 {
  width: 325px;
  height: 44px;
  background: url("../images/v117_5059.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 222px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_5069 {
  width: 896px;
  height: 351px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 917px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.029999999329447746);
  overflow: hidden;
}
.v117_5070 {
  width: 297px;
  height: 349px;
  background: url("../images/v117_5070.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v117_5071 {
  width: 297px;
  height: 349px;
  background: url("../images/v117_5071.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5072 {
  width: 297px;
  height: 349px;
  background: url("../images/v117_5072.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5073 {
  width: 167px;
  height: 24px;
  background: url("../images/v117_5073.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 309px;
  left: 16px;
  overflow: hidden;
}
.v117_5074 {
  width: 45px;
  height: 24px;
  background: rgba(255,215,0,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_5075 {
  width: 29px;
  color: rgba(114,88,0,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5076 {
  width: 114px;
  height: 24px;
  background: rgba(255,255,255,0.8999999761581421);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 53px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v117_5077 {
  width: 98px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_5078 {
  width: 595px;
  height: 349px;
  background: url("../images/v117_5078.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 298px;
  overflow: hidden;
}
.v117_5079 {
  width: 547px;
  height: 201px;
  background: url("../images/v117_5079.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v117_5080 {
  width: 547px;
  height: 64px;
  background: url("../images/v117_5080.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5081 {
  width: 548px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v117_5082 {
  width: 265px;
  height: 30px;
  background: rgba(217,226,255,1);
  padding: 4px 12px;
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_5083 {
  width: 239px;
  color: rgba(0,26,67,1);
  position: absolute;
  top: 5px;
  left: 13px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5084 {
  width: 547px;
  height: 20px;
  background: url("../images/v117_5084.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.v117_5085 {
  width: 76px;
  height: 20px;
  background: url("../images/v117_5085.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5086 {
  width: 9px;
  height: 11px;
  background: url("../images/v117_5086.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v117_5087 {
  width: 9px;
  height: 11px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_5088 {
  width: 63px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 13px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5089 {
  width: 63px;
  height: 20px;
  background: url("../images/v117_5089.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  overflow: hidden;
}
.v117_5090 {
  width: 12px;
  height: 9px;
  background: url("../images/v117_5090.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v117_5091 {
  width: 12px;
  height: 9px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_5092 {
  width: 47px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5093 {
  width: 124px;
  height: 20px;
  background: url("../images/v117_5093.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 172px;
  overflow: hidden;
}
.v117_5094 {
  width: 12px;
  height: 9px;
  background: url("../images/v117_5094.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v117_5095 {
  width: 12px;
  height: 9px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_5096 {
  width: 88px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5097 {
  width: 547px;
  height: 48px;
  background: url("../images/v117_5097.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 0px;
  overflow: hidden;
}
.v117_5098 {
  width: 547px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_5099 {
  width: 547px;
  height: 100px;
  background: url("../images/v117_5099.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 0px;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 24px;
  overflow: hidden;
}
.v117_5100 {
  width: 547px;
  height: 84px;
  background: url("../images/v117_5100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 0px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v117_5101 {
  width: 547px;
  height: 67px;
  background: url("../images/v117_5101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  overflow: hidden;
}
.v117_5102 {
  width: 222px;
  height: 67px;
  background: url("../images/v117_5102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5103 {
  width: 241px;
  height: 16px;
  background: url("../images/v117_5103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_5104 {
  width: 220px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v117_5108 {
  width: 325px;
  height: 44px;
  background: url("../images/v117_5108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 222px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_5118 {
  width: 194px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 1311px;
  left: 53px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_7009 {
  width: 995px;
  height: 80px;
  background: rgba(255,255,255,1);
  margin: 295px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_7010 {
  width: 420px;
  height: 40px;
  background: url("../images/v117_7010.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 953px;
  overflow: hidden;
}
.v117_7011 {
  width: 140px;
  height: 40px;
  background: url("../images/v117_7011.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 718px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_7019 {
  width: 32px;
  height: 36px;
  background: url("../images/v117_7019.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 674px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_7020 {
  width: 16px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v117_7021 {
  width: 36px;
  height: 36px;
  background: url("../images/v117_7021.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 722px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_7022 {
  width: 20px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v117_7023 {
  width: 56px;
  height: 40px;
  background: url("../images/v117_7023.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 782px;
  overflow: hidden;
}
.v117_7024 {
  width: 40px;
  height: 40px;
  background: url("../images/v117_7024.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_7026 {
  width: 114px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 48px;
  left: 848px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_7027 {
  width: 239px;
  height: 52px;
  background: url("../images/v117_7027.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 838px;
  overflow: hidden;
}
.v117_7028 {
  width: 239px;
  height: 16px;
  background: url("../images/v117_7028.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v117_7029 {
  width: 87px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 28px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_6654 {
  width: 288px;
  height: 1503px;
  background: rgba(253,253,253,1);
  padding: 24px 0px;
  margin: 163px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_6655 {
  width: 287px;
  height: 815px;
  background: url("../images/v117_6655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v117_6656 {
  width: 287px;
  height: 292px;
  background: url("../images/v117_6656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_6662 {
  width: 287px;
  height: 505px;
  background: url("../images/v117_6662.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 137px;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 2px;
  overflow: hidden;
}
.v117_6663 {
  width: 287px;
  height: 320px;
  background: url("../images/v117_6663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_6664 {
  width: 97px;
  height: 24px;
  background: url("../images/v117_6664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_6725 {
  width: 16px;
  height: 28px;
  background: url("../images/v117_6725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 880px;
  left: 67px;
  overflow: hidden;
}
.v117_6726 {
  width: 207px;
  height: 136px;
  background: url("../images/v117_6726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 921px;
  left: 18px;
  overflow: hidden;
}
.v117_6727 {
  width: 207px;
  height: 50px;
  background: url("../images/v117_6727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_6739 {
  width: 287px;
  height: 136px;
  background: url("../images/v117_6739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 9px;
  overflow: hidden;
}
.v117_6740 {
  width: 287px;
  height: 116px;
  background: url("../images/v117_6740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_6741 {
  width: 239px;
  height: 52px;
  background: url("../images/v117_6741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 24px;
  overflow: hidden;
}
.v117_6742 {
  width: 239px;
  height: 16px;
  background: url("../images/v117_6742.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v117_6743 {
  width: 168px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 4px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v117_6744 {
  width: 100px;
  height: 71px;
  background: url("../images/v117_6744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 62px;
  overflow: hidden;
}
