* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v117_1603 {
  width: 100%;
  height: 1145px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_1604 {
  width: 178px;
  height: 70px;
  background: rgba(225,227,228,1);
  padding: 11px 24px;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 1071px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_1605 {
  width: 16px;
  height: 16px;
  background: url("../images/v117_1605.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 24px;
  overflow: hidden;
}
.v117_1606 {
  width: 16px;
  height: 16px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_1607 {
  width: 110px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 23px;
  left: 50px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_1608 {
  width: 934px;
  height: 763px;
  background: url("../images/v117_1608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 321px;
  overflow: hidden;
}
.v117_1609 {
  width: 763px;
  height: 763px;
  background: url("../images/v117_1609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_1610 {
  width: 763px;
  height: 683px;
  background: url("../images/v117_1610.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v117_1611 {
  width: 945px;
  height: 80px;
  background: rgba(243,244,245,1);
  padding: 16px 32px;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 11px;
  overflow: hidden;
}
.v117_1612 {
  width: 571px;
  height: 104px;
  background: url("../images/v117_1612.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 343px;
  overflow: hidden;
}
.v117_1613 {
  width: 571px;
  height: 40px;
  background: url("../images/v117_1613.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_1614 {
  width: 465px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v117_1615 {
  width: 571px;
  height: 56px;
  background: url("../images/v117_1615.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v117_1616 {
  width: 571px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v117_1617 {
  width: 935px;
  height: 813px;
  background: url("../images/v117_1617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 321px;
  overflow: hidden;
}
.v117_1618 {
  width: 935px;
  height: 813px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_1619 {
  width: 512px;
  height: 97px;
  background: rgba(255,255,255,1);
  padding: 24px 32px;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v117_1620 {
  width: 141px;
  height: 48px;
  background: url("../images/v117_1620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 24px;
  overflow: hidden;
}
.v117_1621 {
  width: 187px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v117_1622 {
  width: 935px;
  height: 813px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_1623 {
  width: 512px;
  height: 97px;
  background: rgba(255,255,255,1);
  padding: 24px 32px;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v117_1624 {
  width: 141px;
  height: 48px;
  background: url("../images/v117_1624.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 24px;
  overflow: hidden;
}
.v117_1625 {
  width: 187px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v117_1626 {
  width: 934px;
  height: 80px;
  background: rgba(243,244,245,1);
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 0px;
  overflow: hidden;
}
.v117_1627 {
  width: 111px;
  height: 80px;
  background: url("../images/v117_1627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_1628 {
  width: 94px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 32px;
  left: 32px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1629 {
  width: 109px;
  height: 80px;
  background: url("../images/v117_1629.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 111px;
  overflow: hidden;
}
.v117_1630 {
  width: 87px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 24px;
  left: 189px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1631 {
  width: 143px;
  height: 80px;
  background: url("../images/v117_1631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 31px 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 324px;
  overflow: hidden;
}
.v117_1632 {
  width: 50px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 31px;
  left: 24px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1633 {
  width: 176px;
  height: 80px;
  background: url("../images/v117_1633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 31px 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 491px;
  overflow: hidden;
}
.v117_1634 {
  width: 89px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 31px;
  left: 24px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1635 {
  width: 66px;
  height: 64px;
  background: url("../images/v117_1635.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 653px;
  overflow: hidden;
}
.v117_1636 {
  width: 74px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 32px;
  left: 697px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1637 {
  width: 104px;
  height: 80px;
  background: url("../images/v117_1637.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 23px 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 819px;
  overflow: hidden;
}
.v117_1638 {
  width: 35px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 23px;
  left: 32px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1639 {
  width: 933px;
  height: 176px;
  background: url("../images/v117_1639.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 0px;
  overflow: hidden;
}
.v117_1640 {
  width: 111px;
  height: 176px;
  background: url("../images/v117_1640.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_1641 {
  width: 87px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 76px;
  left: 32px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1642 {
  width: 109px;
  height: 176px;
  background: url("../images/v117_1642.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 111px;
  overflow: hidden;
}
.v117_1643 {
  width: 61px;
  height: 72px;
  background: url("../images/v117_1643.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 24px;
  overflow: hidden;
}
.v117_1644 {
  width: 61px;
  height: 64px;
  background: url("../images/v117_1644.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 24px;
  overflow: hidden;
}
.v117_1645 {
  width: 143px;
  height: 176px;
  background: url("../images/v117_1645.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 220px;
  overflow: hidden;
}
.v117_1646 {
  width: 118px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 55px;
  left: 47px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1647 {
  width: 79px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 88px;
  left: 34px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1648 {
  width: 106px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 82px;
  left: 333px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1649 {
  width: 152px;
  height: 24px;
  background: url("../images/v117_1649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 494px;
  overflow: hidden;
}
.v117_1650 {
  width: 20px;
  height: 20px;
  background: url("../images/v117_1650.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 24px;
  overflow: hidden;
}
.v117_1651 {
  width: 20px;
  height: 20px;
  background: rgba(59,86,140,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_1652 {
  width: 52px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 51px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1653 {
  width: 143px;
  height: 176px;
  background: url("../images/v117_1653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 68px 47px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 515px;
  overflow: hidden;
}
.v117_1654 {
  width: 102px;
  height: 40px;
  background: rgba(220,252,231,1);
  padding: 4px 12px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 686px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_1656 {
  width: 72px;
  color: rgba(21,128,61,1);
  position: absolute;
  top: 12px;
  left: 15px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1657 {
  width: 104px;
  height: 176px;
  background: url("../images/v117_1657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 32px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 815px;
  overflow: hidden;
}
.v117_1658 {
  width: 52px;
  height: 24px;
  background: url("../images/v117_1658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 32px;
  overflow: hidden;
}
.v117_1659 {
  width: 60px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_1660 {
  width: 933px;
  height: 178px;
  background: url("../images/v117_1660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 0px;
  overflow: hidden;
}
.v117_1661 {
  width: 111px;
  height: 177px;
  background: url("../images/v117_1661.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 32px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v117_1662 {
  width: 89px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 76px;
  left: 32px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1663 {
  width: 109px;
  height: 177px;
  background: url("../images/v117_1663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 24px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 111px;
  overflow: hidden;
}
.v117_1664 {
  width: 61px;
  height: 72px;
  background: url("../images/v117_1664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 24px;
  overflow: hidden;
}
.v117_1665 {
  width: 61px;
  height: 64px;
  background: url("../images/v117_1665.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 24px;
  overflow: hidden;
}
.v117_1666 {
  width: 103px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 92px;
  left: 179px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1667 {
  width: 122px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 57px;
  left: 170px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1668 {
  width: 143px;
  height: 177px;
  background: url("../images/v117_1668.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 24px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 315px;
  overflow: hidden;
}
.v117_1669 {
  width: 100px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 76px;
  left: 24px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1670 {
  width: 152px;
  height: 24px;
  background: url("../images/v117_1670.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 481px;
  overflow: hidden;
}
.v117_1671 {
  width: 20px;
  height: 16px;
  background: url("../images/v117_1671.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 24px;
  overflow: hidden;
}
.v117_1672 {
  width: 20px;
  height: 16px;
  background: rgba(59,86,140,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_1673 {
  width: 96px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 51px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1674 {
  width: 143px;
  height: 177px;
  background: url("../images/v117_1674.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 47px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 515px;
  overflow: hidden;
}
.v117_1675 {
  width: 110px;
  height: 41px;
  background: rgba(255,237,213,1);
  padding: 4px 12px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 682px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_1677 {
  width: 81px;
  color: rgba(194,65,12,1);
  position: absolute;
  top: 13px;
  left: 14px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1678 {
  width: 104px;
  height: 176px;
  background: url("../images/v117_1678.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 32px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 815px;
  overflow: hidden;
}
.v117_1679 {
  width: 52px;
  height: 24px;
  background: url("../images/v117_1679.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 32px;
  overflow: hidden;
}
.v117_1680 {
  width: 60px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_1681 {
  width: 933px;
  height: 162px;
  background: url("../images/v117_1681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 543px;
  left: 1px;
  overflow: hidden;
}
.v117_1682 {
  width: 111px;
  height: 160px;
  background: url("../images/v117_1682.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 56px 32px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v117_1683 {
  width: 93px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 68px;
  left: 32px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1684 {
  width: 109px;
  height: 160px;
  background: url("../images/v117_1684.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 24px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 111px;
  overflow: hidden;
}
.v117_1685 {
  width: 61px;
  height: 72px;
  background: url("../images/v117_1685.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 24px;
  overflow: hidden;
}
.v117_1686 {
  width: 131px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 35px;
  left: 37px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1687 {
  width: 61px;
  height: 48px;
  background: url("../images/v117_1687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 24px;
  overflow: hidden;
}
.v117_1688 {
  width: 97px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 88px;
  left: 185px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1689 {
  width: 143px;
  height: 160px;
  background: url("../images/v117_1689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 68px 24px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 324px;
  overflow: hidden;
}
.v117_1690 {
  width: 98px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 68px;
  left: 15px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1691 {
  width: 152px;
  height: 24px;
  background: url("../images/v117_1691.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 501px;
  overflow: hidden;
}
.v117_1692 {
  width: 20px;
  height: 20px;
  background: url("../images/v117_1692.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 24px;
  overflow: hidden;
}
.v117_1693 {
  width: 20px;
  height: 20px;
  background: rgba(59,86,140,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_1694 {
  width: 48px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 51px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1695 {
  width: 143px;
  height: 160px;
  background: url("../images/v117_1695.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 47px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 515px;
  overflow: hidden;
}
.v117_1696 {
  width: 104px;
  height: 160px;
  background: url("../images/v117_1696.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 44px 32px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 659px;
  overflow: hidden;
}
.v117_1697 {
  width: 40px;
  height: 72px;
  background: url("../images/v117_1697.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 32px;
  overflow: hidden;
}
.v117_1698 {
  width: 102px;
  height: 40px;
  background: rgba(254,226,226,1);
  padding: 4px 12px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 686px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_1700 {
  width: 51px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 12px;
  left: 25px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_1701 {
  width: 69px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 71px;
  left: 841px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_1702 {
  width: 174px;
  height: 48px;
  background: url("../images/v117_1702.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 720px;
  left: 21px;
  overflow: hidden;
}
.v117_1703 {
  width: 243px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1704 {
  width: 206px;
  height: 48px;
  background: url("../images/v117_1704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 720px;
  left: 662px;
  overflow: hidden;
}
.v117_1705 {
  width: 25px;
  height: 36px;
  background: url("../images/v117_1705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 0.5;
  position: absolute;
  top: 6px;
  left: 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_1706 {
  width: 7px;
  height: 12px;
  background: url("../images/v117_1706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  overflow: hidden;
}
.v117_1707 {
  width: 7px;
  height: 12px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_1708 {
  width: 38px;
  height: 48px;
  background: rgba(200,16,46,1);
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_1709 {
  width: 6px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_1710 {
  width: 42px;
  height: 48px;
  background: url("../images/v117_1710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_1711 {
  width: 10px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_1712 {
  width: 42px;
  height: 48px;
  background: url("../images/v117_1712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 130px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_1713 {
  width: 10px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_1714 {
  width: 25px;
  height: 36px;
  background: url("../images/v117_1714.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 181px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_1715 {
  width: 7px;
  height: 12px;
  background: url("../images/v117_1715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  overflow: hidden;
}
.v117_1716 {
  width: 7px;
  height: 12px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_1717 {
  width: 422px;
  height: 59px;
  background: url("../images/v117_1717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 513px;
  overflow: hidden;
}
.v117_1718 {
  width: 122px;
  height: 58px;
  background: url("../images/v117_1718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_1719 {
  width: 16px;
  height: 16px;
  background: url("../images/v117_1719.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 24px;
  overflow: hidden;
}
.v117_1720 {
  width: 16px;
  height: 16px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_1721 {
  width: 50px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 16px;
  left: 48px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_1722 {
  width: 167px;
  height: 58px;
  background: url("../images/v117_1722.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 17px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  overflow: hidden;
}
.v117_1723 {
  width: 18px;
  height: 12px;
  background: url("../images/v117_1723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
  overflow: hidden;
}
.v117_1724 {
  width: 93px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 17px;
  left: 42px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_1725 {
  width: 144px;
  height: 58px;
  background: url("../images/v117_1725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 17px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 290px;
  overflow: hidden;
}
.v117_1726 {
  width: 16px;
  height: 16px;
  background: url("../images/v117_1726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 24px;
  overflow: hidden;
}
.v117_1727 {
  width: 72px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 19px;
  left: 24px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v117_2510 {
  width: 288px;
  height: 1143px;
  background: rgba(253,253,253,1);
  padding: 24px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_2511 {
  width: 287px;
  height: 320px;
  background: url("../images/v117_2511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 1px;
  overflow: hidden;
}
.v117_2512 {
  width: 97px;
  height: 24px;
  background: url("../images/v117_2512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 16px;
  overflow: hidden;
}
.v117_2513 {
  width: 255px;
  height: 44px;
  background: url("../images/v117_2513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_2514 {
  width: 19px;
  height: 20px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
}
.v117_2515 {
  width: 139px;
  height: 24px;
  background: url("../images/v117_2515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 44px;
  overflow: hidden;
}
.v117_2516 {
  width: 151px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 5px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_2521 {
  width: 255px;
  height: 48px;
  background: url("../images/v117_2521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 18px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_2522 {
  width: 16px;
  height: 16px;
  background: url("../images/v117_2522.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v117_2523 {
  width: 16px;
  height: 16px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_2524 {
  width: 152px;
  height: 24px;
  background: url("../images/v117_2524.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 44px;
  overflow: hidden;
}
.v117_2525 {
  width: 152px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_2526 {
  width: 255px;
  height: 48px;
  background: url("../images/v117_2526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 18px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_2527 {
  width: 20px;
  height: 18px;
  background: url("../images/v117_2527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
  overflow: hidden;
}
.v117_2528 {
  width: 20px;
  height: 18px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_2529 {
  width: 49px;
  height: 24px;
  background: url("../images/v117_2529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 48px;
  overflow: hidden;
}
.v117_2530 {
  width: 143px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_2531 {
  width: 255px;
  height: 48px;
  background: url("../images/v117_2531.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_2532 {
  width: 22px;
  height: 21px;
  background: url("../images/v117_2532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 16px;
  overflow: hidden;
}
.v117_2533 {
  width: 22px;
  height: 21px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_2534 {
  width: 140px;
  height: 24px;
  background: url("../images/v117_2534.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 50px;
  overflow: hidden;
}
.v117_2535 {
  width: 140px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1763 {
  width: 287px;
  height: 48px;
  background: url("../images/v117_1763.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 24px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v117_1764 {
  width: 18px;
  height: 20px;
  background: url("../images/v117_1764.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 33px;
  overflow: hidden;
}
.v117_1765 {
  width: 18px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_1766 {
  width: 139px;
  height: 24px;
  background: url("../images/v117_1766.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 58px;
  overflow: hidden;
}
.v117_1767 {
  width: 140px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1736 {
  width: 255px;
  height: 48px;
  background: rgba(255,180,171,0.10000000149011612);
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 9px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_1737 {
  width: 136px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 12px;
  left: 60px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_1738 {
  width: 20px;
  height: 18px;
  background: url("../images/v117_1738.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 23px;
  overflow: hidden;
}
.v117_1739 {
  width: 20px;
  height: 20px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_2540 {
  width: 255px;
  height: 48px;
  background: url("../images/v117_2540.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 14px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_2541 {
  width: 19px;
  height: 20px;
  background: url("../images/v117_2541.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 16px;
  overflow: hidden;
}
.v117_2542 {
  width: 19px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_2543 {
  width: 138px;
  height: 24px;
  background: url("../images/v117_2543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 47px;
  overflow: hidden;
}
.v117_2544 {
  width: 138px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_2545 {
  width: 255px;
  height: 48px;
  background: url("../images/v117_2545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 268px;
  left: 17px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_2546 {
  width: 20px;
  height: 20px;
  background: url("../images/v117_2546.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 16px;
  overflow: hidden;
}
.v117_2547 {
  width: 20px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_2548 {
  width: 121px;
  height: 24px;
  background: url("../images/v117_2548.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 48px;
  overflow: hidden;
}
.v117_2549 {
  width: 121px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_2550 {
  width: 207px;
  height: 86px;
  background: url("../images/v117_2550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1009px;
  left: 20px;
  overflow: hidden;
}
.v117_2551 {
  width: 207px;
  height: 44px;
  background: url("../images/v117_2551.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v117_2552 {
  width: 20px;
  height: 20px;
  background: url("../images/v117_2552.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.v117_2553 {
  width: 20px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_2554 {
  width: 57px;
  height: 16px;
  background: url("../images/v117_2554.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 40px;
  overflow: hidden;
}
.v117_2555 {
  width: 45px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_2556 {
  width: 207px;
  height: 42px;
  background: url("../images/v117_2556.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v117_2557 {
  width: 18px;
  height: 18px;
  background: url("../images/v117_2557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.v117_2558 {
  width: 18px;
  height: 18px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_2559 {
  width: 96px;
  height: 16px;
  background: url("../images/v117_2559.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 38px;
  overflow: hidden;
}
.v117_2560 {
  width: 84px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v117_2561 {
  width: 207px;
  height: 50px;
  background: url("../images/v117_2561.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 1002px;
  left: 20px;
  overflow: hidden;
}
.v117_2562 {
  width: 255px;
  height: 48px;
  background: url("../images/v117_2562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v117_2563 {
  width: 16px;
  height: 16px;
  background: url("../images/v117_2563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v117_2564 {
  width: 16px;
  height: 16px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_2565 {
  width: 149px;
  height: 24px;
  background: url("../images/v117_2565.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 44px;
  overflow: hidden;
}
.v117_2566 {
  width: 149px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_2567 {
  width: 287px;
  height: 148px;
  background: url("../images/v117_2567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v117_2568 {
  width: 287px;
  height: 116px;
  background: url("../images/v117_2568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_2569 {
  width: 239px;
  height: 52px;
  background: url("../images/v117_2569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 24px;
  overflow: hidden;
}
.v117_2570 {
  width: 239px;
  height: 16px;
  background: url("../images/v117_2570.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v117_2571 {
  width: 160px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v117_2572 {
  width: 100px;
  height: 71px;
  background: url("../images/v117_2572.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 62px;
  overflow: hidden;
}
.v117_2809 {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,1);
  margin: 295px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 288px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_2810 {
  width: 420px;
  height: 40px;
  background: url("../images/v117_2810.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 953px;
  overflow: hidden;
}
.v117_2811 {
  width: 140px;
  height: 40px;
  background: url("../images/v117_2811.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 684px;
  overflow: hidden;
}
.v117_2812 {
  width: 32px;
  height: 36px;
  background: url("../images/v117_2812.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_2813 {
  width: 16px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v117_2814 {
  width: 36px;
  height: 36px;
  background: url("../images/v117_2814.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 48px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_2815 {
  width: 20px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v117_2816 {
  width: 40px;
  height: 40px;
  background: url("../images/v117_2816.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 120px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_2817 {
  width: 36px;
  height: 36px;
  background: url("../images/v117_2817.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v117_2818 {
  width: 256px;
  height: 40px;
  background: url("../images/v117_2818.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 224px;
  overflow: hidden;
}
.v117_2819 {
  width: 412px;
  height: 40px;
  background: rgba(243,244,245,1);
  padding: 10px 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v117_2820 {
  width: 200px;
  height: 20px;
  background: url("../images/v117_2820.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 40px;
  overflow: hidden;
}
.v117_2821 {
  width: 96px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_2822 {
  width: 18px;
  height: 24px;
  background: url("../images/v117_2822.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v117_2823 {
  width: 18px;
  height: 18px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_2824 {
  width: 239px;
  height: 68px;
  background: url("../images/v117_2824.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 842px;
  overflow: hidden;
}
.v117_2825 {
  width: 50px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 52px;
  left: 10px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_2826 {
  width: 239px;
  height: 52px;
  background: url("../images/v117_2826.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_2827 {
  width: 239px;
  height: 16px;
  background: url("../images/v117_2827.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v117_2828 {
  width: 64px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 28px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
