* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v160_287 {
  width: 100%;
  height: 1600px;
  background: url("../images/v160_287.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_289 {
  width: 100%;
  height: 1600px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_291 {
  width: 992px;
  height: 1750px;
  background: url("../images/v160_291.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 288px;
  overflow: hidden;
}
.v160_292 {
  width: 992px;
  height: 1397px;
  background: rgba(248,249,250,1);
  padding: 48px 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_293 {
  width: 896px;
  height: 1562px;
  background: url("../images/v160_293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 48px;
  overflow: hidden;
}
.v160_294 {
  width: 346px;
  height: 82px;
  background: url("../images/v160_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 58px;
  overflow: hidden;
}
.v160_295 {
  width: 346px;
  height: 24px;
  background: url("../images/v160_295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v160_296 {
  width: 141px;
  height: 24px;
  background: url("../images/v160_296.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_297 {
  width: 163px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_298 {
  width: 4px;
  height: 7px;
  background: url("../images/v160_298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 149px;
  overflow: hidden;
}
.v160_299 {
  width: 4px;
  height: 7px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v160_300 {
  width: 156px;
  height: 24px;
  background: url("../images/v160_300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 153px;
  overflow: hidden;
}
.v160_301 {
  width: 164px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_302 {
  width: 346px;
  height: 50px;
  background: url("../images/v160_302.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 40px;
  overflow: hidden;
}
.v160_303 {
  width: 600px;
  height: 1088px;
  background: url("../images/v160_303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 303px;
  left: 264px;
  overflow: hidden;
}
.v160_304 {
  width: 904px;
  height: 1187px;
  background: rgba(255,255,255,1);
  padding: 32px 32px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 269px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v160_305 {
  width: 534px;
  height: 32px;
  background: url("../images/v160_305.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 33px;
  overflow: hidden;
}
.v160_306 {
  width: 32px;
  height: 32px;
  background: rgba(178,1,18,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v160_307 {
  width: 20px;
  height: 20px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
}
.v160_308 {
  width: 135px;
  height: 24px;
  background: url("../images/v160_308.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 44px;
  overflow: hidden;
}
.v160_309 {
  width: 135px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_310 {
  width: 534px;
  height: 438px;
  background: url("../images/v160_310.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 45px;
  overflow: hidden;
}
.v160_311 {
  width: 222px;
  height: 32px;
  background: url("../images/v160_311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 9px;
  overflow: hidden;
}
.v160_312 {
  width: 124px;
  height: 24px;
  background: url("../images/v160_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 44px;
  overflow: hidden;
}
.v160_313 {
  width: 222px;
  height: 24px;
  background: url("../images/v160_313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 9px;
  overflow: hidden;
}
.v160_314 {
  width: 67px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_315 {
  width: 109px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 231px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_316 {
  width: 164px;
  height: 56px;
  background: rgba(225,227,228,0.30000001192092896);
  padding: 18px 24px;
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v160_317 {
  width: 207px;
  height: 20px;
  background: url("../images/v160_317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 36px;
  overflow: hidden;
}
.v160_318 {
  width: 66px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_319 {
  width: 272px;
  height: 56px;
  background: rgba(225,227,228,0.30000001192092896);
  padding: 18px 24px;
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 227px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v160_320 {
  width: 207px;
  height: 20px;
  background: url("../images/v160_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 36px;
  overflow: hidden;
}
.v160_321 {
  width: 138px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 18px;
  left: 67px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_322 {
  width: 33px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 344px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_323 {
  width: 164px;
  height: 56px;
  background: rgba(225,227,228,0.30000001192092896);
  padding: 18px 24px;
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v160_324 {
  width: 207px;
  height: 20px;
  background: url("../images/v160_324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 36px;
  overflow: hidden;
}
.v160_325 {
  width: 117px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 18px;
  left: 23px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_326 {
  width: 66px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 344px;
  left: 243px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_327 {
  width: 164px;
  height: 56px;
  background: rgba(225,227,228,0.30000001192092896);
  padding: 18px 24px;
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 231px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v160_328 {
  width: 207px;
  height: 20px;
  background: url("../images/v160_328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 36px;
  overflow: hidden;
}
.v160_329 {
  width: 83px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_330 {
  width: 256px;
  height: 56px;
  background: rgba(225,227,228,0.30000001192092896);
  padding: 18px 24px;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 608px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v160_331 {
  width: 207px;
  height: 20px;
  background: url("../images/v160_331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 36px;
  overflow: hidden;
}
.v160_332 {
  width: 183px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_333 {
  width: 50px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 292px;
  left: 612px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_334 {
  width: 164px;
  height: 56px;
  background: rgba(225,227,228,0.30000001192092896);
  padding: 18px 24px;
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 612px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v160_335 {
  width: 207px;
  height: 20px;
  background: url("../images/v160_335.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 24px;
  overflow: hidden;
}
.v160_336 {
  width: 82px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_337 {
  width: 534px;
  height: 214px;
  background: url("../images/v160_337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 9px;
  overflow: hidden;
}
.v160_338 {
  width: 434px;
  height: 47px;
  background: rgba(225,227,228,0.30000001192092896);
  padding: 16px 24px;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 33px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v160_339 {
  width: 486px;
  height: 48px;
  background: url("../images/v160_339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 24px;
  overflow: hidden;
}
.v160_340 {
  width: 336px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Be Vietnam;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v160_341 {
  width: 32px;
  height: 32px;
  background: rgba(178,1,18,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 33px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v160_342 {
  width: 20px;
  height: 20px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
}
.v160_343 {
  width: 591px;
  height: 148px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 33px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v160_344 {
  width: 775px;
  height: 97px;
  background: url("../images/v160_344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 32px;
  overflow: hidden;
}
.v160_345 {
  width: 96px;
  height: 96px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v160_346 {
  width: 64px;
  height: 64px;
  background: url("../images/v160_346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v160_347 {
  width: 400px;
  height: 69px;
  background: url("../images/v160_347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 128px;
  overflow: hidden;
}
.v160_348 {
  width: 112px;
  height: 69px;
  background: url("../images/v160_348.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_349 {
  width: 112px;
  height: 34px;
  background: url("../images/v160_349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_350 {
  width: 68px;
  color: rgba(27,27,28,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_351 {
  width: 112px;
  height: 17px;
  background: url("../images/v160_351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  overflow: hidden;
}
.v160_352 {
  width: 98px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_353 {
  width: 112px;
  height: 68px;
  background: url("../images/v160_353.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 144px;
  overflow: hidden;
}
.v160_354 {
  width: 114px;
  height: 41px;
  background: url("../images/v160_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_355 {
  width: 151px;
  color: rgba(214,40,40,0.6000000238418579);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_356 {
  width: 52px;
  height: 25px;
  background: url("../images/v160_356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 31px;
  overflow: hidden;
}
.v160_357 {
  width: 52px;
  color: rgba(92,64,61,0.6000000238418579);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_358 {
  width: 111px;
  height: 2px;
  background: url("../images/v160_358.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  overflow: hidden;
}
.v160_359 {
  width: 111px;
  height: 2px;
  background: rgba(214,40,40,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v160_360 {
  width: 27px;
  height: 24px;
  background: rgba(255,255,255,1);
  padding: 4px 4px;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 42px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v160_361 {
  width: 16px;
  height: 16px;
  background: rgba(214,40,40,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}
.v160_362 {
  width: 112px;
  height: 69px;
  background: url("../images/v160_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 288px;
  overflow: hidden;
}
.v160_363 {
  width: 112px;
  height: 34px;
  background: url("../images/v160_363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_364 {
  width: 69px;
  color: rgba(27,27,28,1);
  position: absolute;
  top: 0px;
  left: 43px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v160_365 {
  width: 112px;
  height: 34px;
  background: url("../images/v160_365.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 22px;
  overflow: hidden;
}
.v160_366 {
  width: 122px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 9px;
  left: 11px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v160_367 {
  width: 113px;
  color: rgba(214,40,40,1);
  position: absolute;
  top: 89px;
  left: 270px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v160_368 {
  width: 163px;
  height: 42px;
  background: url("../images/v160_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 410px;
  overflow: hidden;
}
.v160_369 {
  width: 201px;
  color: rgba(214,40,40,1);
  position: absolute;
  top: 3px;
  left: 325px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v160_370 {
  width: 115px;
  height: 17px;
  background: url("../images/v160_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 284px;
  overflow: hidden;
}
.v160_371 {
  width: 534px;
  height: 24px;
  background: url("../images/v160_371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 38px;
  overflow: hidden;
}
.v160_372 {
  width: 68px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_373 {
  width: 135px;
  height: 24px;
  background: url("../images/v160_373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 72px;
  overflow: hidden;
}
.v160_374 {
  width: 121px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_375 {
  width: 534px;
  height: 88px;
  background: url("../images/v160_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 813px;
  left: 39px;
  overflow: hidden;
}
.v160_376 {
  width: 534px;
  height: 24px;
  background: url("../images/v160_376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 728px;
  left: 42px;
  overflow: hidden;
}
.v160_377 {
  width: 88px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_378 {
  width: 222px;
  height: 132px;
  background: url("../images/v160_378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 519px;
  left: 538px;
  overflow: hidden;
}
.v160_379 {
  width: 222px;
  height: 24px;
  background: url("../images/v160_379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 8px;
  overflow: hidden;
}
.v160_380 {
  width: 222px;
  height: 24px;
  background: url("../images/v160_380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 165px;
  overflow: hidden;
}
.v160_381 {
  width: 71px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 413px;
  left: 607px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_382 {
  width: 534px;
  height: 24px;
  background: url("../images/v160_382.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 877px;
  left: 34px;
  overflow: hidden;
}
.v160_383 {
  width: 876px;
  height: 192px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 29px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 32px 64px rgba(1, 0, 0, 0.029999999329447746);
  overflow: hidden;
}
.v160_384 {
  width: 595px;
  height: 436px;
  background: url("../images/v160_384.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 298px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v160_385 {
  width: 547px;
  height: 288px;
  background: url("../images/v160_385.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v160_386 {
  width: 547px;
  height: 32px;
  background: url("../images/v160_386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 54px;
  overflow: hidden;
}
.v160_387 {
  width: 569px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 11px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v160_388 {
  width: 547px;
  height: 20px;
  background: url("../images/v160_388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 0px;
  overflow: hidden;
}
.v160_389 {
  width: 149px;
  height: 20px;
  background: url("../images/v160_389.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_390 {
  width: 9px;
  height: 11px;
  background: url("../images/v160_390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v160_391 {
  width: 9px;
  height: 11px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v160_392 {
  width: 136px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 13px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_393 {
  width: 91px;
  height: 20px;
  background: url("../images/v160_393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  overflow: hidden;
}
.v160_394 {
  width: 12px;
  height: 9px;
  background: url("../images/v160_394.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v160_395 {
  width: 12px;
  height: 9px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v160_396 {
  width: 75px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v160_398 {
  width: 85px;
  height: 20px;
  background: url("../images/v160_398.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 298px;
  overflow: hidden;
}
.v160_399 {
  width: 93px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_400 {
  width: 15px;
  height: 20px;
  background: url("../images/v160_400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 311px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v160_402 {
  width: 207px;
  color: rgba(214,40,40,1);
  position: absolute;
  top: 105px;
  left: 250px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v160_403 {
  width: 547px;
  height: 100px;
  background: url("../images/v160_403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 0px;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 24px;
  overflow: hidden;
}
.v160_404 {
  width: 196px;
  height: 191px;
  background: url("../images/v160_404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 298px;
  overflow: hidden;
}
.v160_405 {
  width: 71px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 961px;
  left: 42px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v160_406 {
  width: 599px;
  height: 148px;
  background: rgba(255,255,255,0.8500000238418579);
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 1006px;
  left: 39px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v160_407 {
  width: 775px;
  height: 97px;
  background: url("../images/v160_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 32px;
  overflow: hidden;
}
.v160_408 {
  width: 96px;
  height: 96px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v160_409 {
  width: 400px;
  height: 69px;
  background: url("../images/v160_409.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 128px;
  overflow: hidden;
}
.v160_410 {
  width: 112px;
  height: 69px;
  background: url("../images/v160_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_411 {
  width: 112px;
  height: 34px;
  background: url("../images/v160_411.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_412 {
  width: 243px;
  color: rgba(27,27,28,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_413 {
  width: 112px;
  height: 17px;
  background: url("../images/v160_413.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  overflow: hidden;
}
.v160_414 {
  width: 81px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_415 {
  width: 112px;
  height: 68px;
  background: url("../images/v160_415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 144px;
  overflow: hidden;
}
.v160_416 {
  width: 112px;
  height: 69px;
  background: url("../images/v160_416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 288px;
  overflow: hidden;
}
.v160_417 {
  width: 202px;
  color: rgba(214,40,40,1);
  position: absolute;
  top: 20px;
  left: 304px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v160_418 {
  width: 115px;
  height: 17px;
  background: url("../images/v160_418.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 468px;
  overflow: hidden;
}
.v160_419 {
  width: 80px;
  color: rgba(214,40,40,1);
  position: absolute;
  top: 3px;
  left: 18px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v160_420 {
  width: 115px;
  height: 17px;
  background: url("../images/v160_420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 284px;
  overflow: hidden;
}
.v160_421 {
  width: 142px;
  color: rgba(214,40,40,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v160_422 {
  width: 105px;
  color: rgba(214,40,40,1);
  position: absolute;
  top: 120px;
  left: 160px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v160_423 {
  width: 71px;
  height: 71px;
  background: url("../images/v160_423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 115px;
  overflow: hidden;
}
.v160_424 {
  width: 135px;
  height: 24px;
  background: url("../images/v160_424.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 43px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v160_429 {
  width: 345px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 131px;
  left: 630px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v160_430 {
  width: 304px;
  height: 94px;
  background: rgba(255,255,255,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 1344px;
  left: 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v160_431 {
  width: 220px;
  color: url("../images/v160_431.png");
  position: absolute;
  top: 22px;
  left: 42px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_531 {
  width: 995px;
  height: 80px;
  background: rgba(255,255,255,1);
  margin: 295px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 285px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v160_532 {
  width: 420px;
  height: 40px;
  background: url("../images/v160_532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 953px;
  overflow: hidden;
}
.v160_533 {
  width: 140px;
  height: 40px;
  background: url("../images/v160_533.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 718px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v160_541 {
  width: 32px;
  height: 36px;
  background: url("../images/v160_541.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 674px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v160_542 {
  width: 16px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v160_543 {
  width: 36px;
  height: 36px;
  background: url("../images/v160_543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 722px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v160_544 {
  width: 20px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v160_545 {
  width: 56px;
  height: 40px;
  background: url("../images/v160_545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 782px;
  overflow: hidden;
}
.v160_546 {
  width: 40px;
  height: 40px;
  background: url("../images/v160_546.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v160_548 {
  width: 114px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 48px;
  left: 848px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_549 {
  width: 239px;
  height: 52px;
  background: url("../images/v160_549.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 838px;
  overflow: hidden;
}
.v160_550 {
  width: 239px;
  height: 16px;
  background: url("../images/v160_550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v160_551 {
  width: 87px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 28px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v160_553 {
  width: 288px;
  height: 1600px;
  background: rgba(253,253,253,1);
  padding: 24px 0px;
  margin: 163px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v160_554 {
  width: 287px;
  height: 815px;
  background: url("../images/v160_554.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v160_555 {
  width: 287px;
  height: 292px;
  background: url("../images/v160_555.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v160_566 {
  width: 287px;
  height: 505px;
  background: url("../images/v160_566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 137px;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 2px;
  overflow: hidden;
}
.v160_567 {
  width: 287px;
  height: 320px;
  background: url("../images/v160_567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_568 {
  width: 97px;
  height: 24px;
  background: url("../images/v160_568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v160_625 {
  width: 16px;
  height: 28px;
  background: url("../images/v160_625.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 880px;
  left: 67px;
  overflow: hidden;
}
.v160_626 {
  width: 207px;
  height: 136px;
  background: url("../images/v160_626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 921px;
  left: 18px;
  overflow: hidden;
}
.v160_627 {
  width: 207px;
  height: 50px;
  background: url("../images/v160_627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_236 {
  width: 287px;
  height: 140px;
  background: url("../images/v168_236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 29px;
  overflow: hidden;
}
.v168_237 {
  width: 287px;
  height: 116px;
  background: url("../images/v168_237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_238 {
  width: 239px;
  height: 52px;
  background: url("../images/v168_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 24px;
  overflow: hidden;
}
.v168_239 {
  width: 239px;
  height: 16px;
  background: url("../images/v168_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v168_240 {
  width: 168px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 4px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v168_241 {
  width: 106px;
  height: 75px;
  background: url("../images/v168_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 61px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
