* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v248_248 {
  width: 100%;
  height: 850px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v248_249 {
  width: 100%;
  height: 851px;
  background: url("../images/v248_249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 4px;
  overflow: hidden;
}
.v248_250 {
  width: 400px;
  height: 400px;
  background: url("../images/v248_250.png");
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 651px;
}
.v248_251 {
  width: 460px;
  height: 756px;
  background: url("../images/v248_251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 48px 0px;
  margin: 47px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 479px;
  overflow: hidden;
}
.v248_252 {
  width: 460px;
  height: 24px;
  background: url("../images/v248_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 732px;
  left: 0px;
  overflow: hidden;
}
.v248_254 {
  width: 331px;
  height: 20px;
  background: url("../images/v248_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 81px;
  overflow: hidden;
}
.v248_255 {
  width: 96px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v248_256 {
  width: 460px;
  height: 201px;
  background: url("../images/v248_256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 82px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v248_259 {
  width: 600px;
  height: 85px;
  background: url("../images/v248_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 461px;
  left: 397px;
  overflow: hidden;
}
.v248_260 {
  width: 460px;
  height: 20px;
  background: url("../images/v248_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 300px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v248_261 {
  width: 65px;
  height: 20px;
  background: url("../images/v248_261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v248_262 {
  width: 99px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v248_263 {
  width: 95px;
  height: 16px;
  background: url("../images/v248_263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 364px;
  overflow: hidden;
}
.v249_360 {
  width: 542px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  overflow: hidden;
}
.v249_361 {
  width: 552px;
  height: 58px;
  background: rgba(249,250,251,0.5);
  padding: 17px 56px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v249_366 {
  width: 16px;
  height: 31px;
  background: url("../images/v249_366.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 26px;
  overflow: hidden;
}
.v249_367 {
  width: 16px;
  height: 21px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v249_368 {
  width: 22px;
  height: 17px;
  background: url("../images/v249_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 418px;
  overflow: hidden;
}
.v248_265 {
  width: 499px;
  height: 85px;
  background: url("../images/v248_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 580px;
  overflow: hidden;
}
.v248_266 {
  width: 547px;
  height: 83px;
  background: url("../images/v248_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 390px;
  overflow: hidden;
}
.v249_371 {
  width: 542px;
  height: 57px;
  background: url("../images/v249_371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 5px;
  overflow: hidden;
}
.v249_372 {
  width: 564px;
  height: 58px;
  background: rgba(249,250,251,0.5);
  padding: 17px 56px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v249_377 {
  width: 16px;
  height: 31px;
  background: url("../images/v249_377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 26px;
  overflow: hidden;
}
.v249_378 {
  width: 16px;
  height: 21px;
  background: rgba(244,197,66,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v248_268 {
  width: 460px;
  height: 20px;
  background: url("../images/v248_268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 300px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v248_269 {
  width: 65px;
  height: 20px;
  background: url("../images/v248_269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v248_270 {
  width: 164px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v248_271 {
  width: 95px;
  height: 16px;
  background: url("../images/v248_271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 364px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v248_273 {
  width: 571px;
  height: 31px;
  background: url("../images/v248_273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 0px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 413px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v248_275 {
  width: 496px;
  color: url("../images/v248_275.png");
  position: absolute;
  top: 5px;
  left: 32px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v248_276 {
  width: 554px;
  height: 92px;
  background: url("../images/v248_276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 355px;
  left: 387px;
  overflow: hidden;
}
.v248_278 {
  width: 460px;
  height: 20px;
  background: url("../images/v248_278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  overflow: hidden;
}
.v248_279 {
  width: 93px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v249_342 {
  width: 554px;
  height: 57px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v248_280 {
  width: 460px;
  height: 156px;
  background: url("../images/v248_280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 459px;
  overflow: hidden;
}
.v248_281 {
  width: 460px;
  height: 80px;
  background: url("../images/v248_281.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
.v248_282 {
  width: 460px;
  height: 40px;
  background: url("../images/v248_282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v248_283 {
  width: 263px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 13px;
  left: 62px;
  font-family: Be Vietnam Pro;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v248_284 {
  width: 460px;
  height: 28px;
  background: url("../images/v248_284.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  overflow: hidden;
}
.v248_285 {
  width: 882px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 38px;
  left: 78px;
  font-family: Be Vietnam Pro;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v248_286 {
  width: 445px;
  height: 100px;
  background: url("../images/v248_286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 14px;
  overflow: hidden;
}
