* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v81_2622 {
  width: 100%;
  height: 1056px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v81_2623 {
  width: 992px;
  height: 1056px;
  background: url("../images/v81_2623.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 288px;
  overflow: hidden;
}
.v81_2634 {
  width: 992px;
  height: 976px;
  background: url("../images/v81_2634.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 64px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 24px;
  overflow: hidden;
}
.v81_2635 {
  width: 864px;
  height: 104px;
  background: url("../images/v81_2635.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 64px;
  overflow: hidden;
}
.v81_2636 {
  width: 864px;
  height: 72px;
  background: url("../images/v81_2636.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 230px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v81_2637 {
  width: 475px;
  height: 72px;
  background: url("../images/v81_2637.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v81_2638 {
  width: 475px;
  height: 40px;
  background: url("../images/v81_2638.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v81_2639 {
  width: 314px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v81_2640 {
  width: 475px;
  height: 24px;
  background: url("../images/v81_2640.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v81_2641 {
  width: 475px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2642 {
  width: 239px;
  height: 48px;
  background: rgba(200,16,46,1);
  padding: 12px 24px;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 624px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2643 {
  width: 14px;
  height: 14px;
  background: url("../images/v81_2643.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 24px;
  overflow: hidden;
}
.v81_2644 {
  width: 14px;
  height: 14px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2645 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 45px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v81_2646 {
  width: 864px;
  height: 492px;
  background: url("../images/v81_2646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 64px;
  overflow: hidden;
}
.v81_2647 {
  width: 568px;
  height: 749px;
  background: url("../images/v81_2647.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v81_2648 {
  width: 568px;
  height: 87px;
  background: rgba(255,255,255,0.699999988079071);
  padding: 16px 16px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2649 {
  width: 299px;
  height: 53px;
  background: url("../images/v81_2649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 20px;
  overflow: hidden;
}
.v81_2650 {
  width: 299px;
  height: 53px;
  background: rgba(225,227,228,1);
  padding: 15px 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2651 {
  width: 233px;
  height: 21px;
  background: url("../images/v81_2651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 49px;
  overflow: hidden;
}
.v81_2652 {
  width: 203px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2653 {
  width: 18px;
  height: 25px;
  background: url("../images/v81_2653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 16px;
  overflow: hidden;
}
.v81_2654 {
  width: 18px;
  height: 18px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2655 {
  width: 215px;
  height: 50px;
  background: url("../images/v81_2655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 335px;
  overflow: hidden;
}
.v81_2656 {
  width: 87px;
  height: 50px;
  background: url("../images/v81_2656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2657 {
  width: 15px;
  height: 10px;
  background: url("../images/v81_2657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 17px;
  overflow: hidden;
}
.v81_2658 {
  width: 15px;
  height: 10px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2659 {
  width: 30px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 13px;
  left: 40px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v81_2660 {
  width: 121px;
  height: 50px;
  background: url("../images/v81_2660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 94px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2661 {
  width: 15px;
  height: 10px;
  background: url("../images/v81_2661.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 17px;
  overflow: hidden;
}
.v81_2662 {
  width: 15px;
  height: 10px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2663 {
  width: 64px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 13px;
  left: 40px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v81_2664 {
  width: 568px;
  height: 638px;
  background: url("../images/v81_2664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 0px;
  overflow: hidden;
}
.v81_2665 {
  width: 568px;
  height: 210px;
  background: rgba(255,255,255,0.699999988079071);
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2666 {
  width: 114px;
  height: 24px;
  background: rgba(107,114,128,1);
  padding: 4px 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 453px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2667 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2668 {
  width: 518px;
  height: 160px;
  background: url("../images/v81_2668.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v81_2669 {
  width: 194px;
  height: 94px;
  background: rgba(255,245,245,1);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2670 {
  width: 107px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 17px;
  left: 41px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v81_2671 {
  width: 105px;
  height: 20px;
  background: url("../images/v81_2671.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 44px;
  overflow: hidden;
}
.v81_2672 {
  width: 105px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2673 {
  width: 163px;
  height: 70px;
  background: url("../images/v81_2673.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 216px;
  overflow: hidden;
}
.v81_2674 {
  width: 163px;
  height: 62px;
  background: url("../images/v81_2674.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v81_2675 {
  width: 163px;
  height: 16px;
  background: url("../images/v81_2675.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v81_2676 {
  width: 67px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2677 {
  width: 149px;
  height: 24px;
  background: url("../images/v81_2677.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v81_2678 {
  width: 171px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 128px;
  left: 216px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v81_2679 {
  width: 134px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 67px;
  left: 216px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2680 {
  width: 161px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v81_2681 {
  width: 123px;
  height: 42px;
  background: rgba(200,16,46,1);
  padding: 8px 30px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 408px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2682 {
  width: 13px;
  height: 13px;
  background: url("../images/v81_2682.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 35px;
  overflow: hidden;
}
.v81_2683 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2684 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 56px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v81_2685 {
  width: 123px;
  height: 42px;
  background: url("../images/v81_2685.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 408px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2686 {
  width: 15px;
  height: 15px;
  background: url("../images/v81_2686.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 17px;
  overflow: hidden;
}
.v81_2687 {
  width: 15px;
  height: 15px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2688 {
  width: 66px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 9px;
  left: 40px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v81_2689 {
  width: 568px;
  height: 210px;
  background: rgba(255,255,255,0.699999988079071);
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2690 {
  width: 145px;
  height: 24px;
  background: rgba(239,193,62,1);
  padding: 4px 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 422px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2691 {
  width: 113px;
  color: rgba(36,26,0,1);
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2692 {
  width: 518px;
  height: 160px;
  background: url("../images/v81_2692.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v81_2693 {
  width: 194px;
  height: 94px;
  background: rgba(255,245,245,1);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2694 {
  width: 160px;
  height: 40px;
  background: url("../images/v81_2694.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2695 {
  width: 165px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v81_2696 {
  width: 105px;
  height: 20px;
  background: url("../images/v81_2696.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 44px;
  overflow: hidden;
}
.v81_2697 {
  width: 105px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2698 {
  width: 163px;
  height: 70px;
  background: url("../images/v81_2698.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 216px;
  overflow: hidden;
}
.v81_2699 {
  width: 163px;
  height: 62px;
  background: url("../images/v81_2699.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.v81_2700 {
  width: 163px;
  height: 16px;
  background: url("../images/v81_2700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v81_2701 {
  width: 67px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2702 {
  width: 149px;
  height: 24px;
  background: url("../images/v81_2702.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v81_2703 {
  width: 170px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 128px;
  left: 216px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v81_2704 {
  width: 146px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 67px;
  left: 216px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2705 {
  width: 98px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v81_2706 {
  width: 123px;
  height: 42px;
  background: rgba(200,16,46,1);
  padding: 8px 30px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 408px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2707 {
  width: 13px;
  height: 13px;
  background: url("../images/v81_2707.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 35px;
  overflow: hidden;
}
.v81_2708 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2709 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 56px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v81_2710 {
  width: 123px;
  height: 42px;
  background: url("../images/v81_2710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 408px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2711 {
  width: 15px;
  height: 15px;
  background: url("../images/v81_2711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 17px;
  overflow: hidden;
}
.v81_2712 {
  width: 15px;
  height: 15px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2713 {
  width: 66px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 9px;
  left: 40px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v81_2714 {
  width: 568px;
  height: 186px;
  background: rgba(255,255,255,0.699999988079071);
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 452px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2715 {
  width: 83px;
  height: 24px;
  background: rgba(175,198,255,1);
  padding: 4px 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 483px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2716 {
  width: 51px;
  color: rgba(0,26,67,1);
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2717 {
  width: 161px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 25px;
  left: 25px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v81_2718 {
  width: 518px;
  height: 108px;
  background: url("../images/v81_2718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8999999761581421;
  position: absolute;
  top: 53px;
  left: 25px;
  overflow: hidden;
}
.v81_2719 {
  width: 193px;
  height: 94px;
  background: rgba(237,238,239,1);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2720 {
  width: 160px;
  height: 40px;
  background: url("../images/v81_2720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v81_2721 {
  width: 160px;
  color: rgba(59,86,140,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v81_2722 {
  width: 105px;
  height: 20px;
  background: url("../images/v81_2722.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 44px;
  overflow: hidden;
}
.v81_2723 {
  width: 105px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2724 {
  width: 190px;
  height: 132px;
  background: url("../images/v81_2724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 216px;
  overflow: hidden;
}
.v81_2725 {
  width: 190px;
  height: 96px;
  background: url("../images/v81_2725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v81_2726 {
  width: 167px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2727 {
  width: 98px;
  height: 40px;
  background: url("../images/v81_2727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v81_2728 {
  width: 98px;
  height: 16px;
  background: url("../images/v81_2728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v81_2729 {
  width: 66px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2730 {
  width: 98px;
  height: 24px;
  background: url("../images/v81_2730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v81_2731 {
  width: 167px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v81_2732 {
  width: 190px;
  height: 28px;
  background: url("../images/v81_2732.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v81_2733 {
  width: 89px;
  height: 92px;
  background: url("../images/v81_2733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 430px;
  overflow: hidden;
}
.v81_2734 {
  width: 89px;
  height: 42px;
  background: url("../images/v81_2734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 17px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2735 {
  width: 13px;
  height: 13px;
  background: url("../images/v81_2735.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 18px;
  overflow: hidden;
}
.v81_2736 {
  width: 13px;
  height: 13px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2737 {
  width: 31px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 9px;
  left: 39px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v81_2738 {
  width: 88px;
  height: 42px;
  background: url("../images/v81_2738.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2739 {
  width: 15px;
  height: 15px;
  background: url("../images/v81_2739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 17px;
  overflow: hidden;
}
.v81_2740 {
  width: 15px;
  height: 15px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2741 {
  width: 31px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 9px;
  left: 40px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v81_2742 {
  width: 302px;
  height: 492px;
  background: url("../images/v81_2742.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 592px;
  overflow: hidden;
}
.v81_2743 {
  width: 302px;
  height: 311px;
  background: rgba(255,255,255,0.699999988079071);
  padding: 24px 24px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2744 {
  width: 252px;
  height: 28px;
  background: url("../images/v81_2744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 25px;
  overflow: hidden;
}
.v81_2745 {
  width: 18px;
  height: 18px;
  background: url("../images/v81_2745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v81_2746 {
  width: 18px;
  height: 18px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2747 {
  width: 219px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v81_2748 {
  width: 252px;
  height: 206px;
  background: url("../images/v81_2748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 25px;
  overflow: hidden;
}
.v81_2749 {
  width: 252px;
  height: 58px;
  background: rgba(243,244,245,1);
  padding: 16px 16px;
  margin: 69px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2750 {
  width: 127px;
  height: 24px;
  background: url("../images/v81_2750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  overflow: hidden;
}
.v81_2751 {
  width: 127px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2752 {
  width: 14px;
  height: 10px;
  background: url("../images/v81_2752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 220px;
  overflow: hidden;
}
.v115_178 {
  width: 11px;
  height: 24px;
  background: url("../images/v115_178.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 224px;
  overflow: hidden;
}
.v115_179 {
  width: 18px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2754 {
  width: 252px;
  height: 58px;
  background: rgba(243,244,245,1);
  padding: 16px 16px;
  margin: 134px;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2755 {
  width: 56px;
  height: 24px;
  background: url("../images/v81_2755.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  overflow: hidden;
}
.v81_2756 {
  width: 56px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2757 {
  width: 11px;
  height: 24px;
  background: url("../images/v81_2757.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 224px;
  overflow: hidden;
}
.v81_2758 {
  width: 11px;
  color: rgba(59,86,140,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2759 {
  width: 252px;
  height: 58px;
  background: rgba(243,244,245,1);
  padding: 16px 16px;
  margin: 23px;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2760 {
  width: 191px;
  height: 24px;
  background: url("../images/v81_2760.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  overflow: hidden;
}
.v81_2761 {
  width: 191px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2762 {
  width: 11px;
  height: 24px;
  background: url("../images/v81_2762.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 224px;
  overflow: hidden;
}
.v81_2763 {
  width: 12px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v115_162 {
  width: 286px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 952px;
  left: 84px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v115_164 {
  width: 206px;
  height: 48px;
  background: url("../images/v115_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 940px;
  left: 423px;
  overflow: hidden;
}
.v115_165 {
  width: 25px;
  height: 36px;
  background: url("../images/v115_165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 0.5;
  position: absolute;
  top: 6px;
  left: 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v115_166 {
  width: 7px;
  height: 12px;
  background: url("../images/v115_166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  overflow: hidden;
}
.v115_167 {
  width: 7px;
  height: 12px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v115_168 {
  width: 38px;
  height: 48px;
  background: rgba(200,16,46,1);
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v115_169 {
  width: 6px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v115_170 {
  width: 42px;
  height: 48px;
  background: url("../images/v115_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v115_171 {
  width: 10px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v115_172 {
  width: 42px;
  height: 48px;
  background: url("../images/v115_172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 130px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v115_173 {
  width: 10px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v115_174 {
  width: 25px;
  height: 36px;
  background: url("../images/v115_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 181px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v115_175 {
  width: 7px;
  height: 12px;
  background: url("../images/v115_175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  overflow: hidden;
}
.v115_176 {
  width: 7px;
  height: 12px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v110_602 {
  width: 991px;
  height: 80px;
  background: rgba(255,255,255,1);
  margin: 295px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v110_603 {
  width: 420px;
  height: 40px;
  background: url("../images/v110_603.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 953px;
  overflow: hidden;
}
.v110_604 {
  width: 140px;
  height: 40px;
  background: url("../images/v110_604.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 684px;
  overflow: hidden;
}
.v110_605 {
  width: 32px;
  height: 36px;
  background: url("../images/v110_605.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_606 {
  width: 16px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v110_607 {
  width: 36px;
  height: 36px;
  background: url("../images/v110_607.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 48px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_608 {
  width: 20px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v110_609 {
  width: 256px;
  height: 40px;
  background: url("../images/v110_609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 224px;
  overflow: hidden;
}
.v110_610 {
  width: 412px;
  height: 40px;
  background: rgba(243,244,245,1);
  padding: 10px 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_611 {
  width: 200px;
  height: 20px;
  background: url("../images/v110_611.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 40px;
  overflow: hidden;
}
.v110_612 {
  width: 96px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v110_613 {
  width: 18px;
  height: 24px;
  background: url("../images/v110_613.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v110_614 {
  width: 18px;
  height: 18px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v110_615 {
  width: 293px;
  height: 72px;
  background: url("../images/v110_615.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 788px;
  overflow: hidden;
}
.v110_616 {
  width: 40px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 52px;
  left: 64px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v110_617 {
  width: 48px;
  height: 48px;
  background: url("../images/v110_617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v110_618 {
  width: 44px;
  height: 44px;
  background: url("../images/v110_618.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v110_619 {
  width: 239px;
  height: 52px;
  background: url("../images/v110_619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 54px;
  overflow: hidden;
}
.v110_620 {
  width: 239px;
  height: 16px;
  background: url("../images/v110_620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v110_621 {
  width: 111px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 28px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v81_2966 {
  width: 288px;
  height: 1056px;
  background: rgba(253,253,253,1);
  padding: 24px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v81_2967 {
  width: 287px;
  height: 148px;
  background: url("../images/v81_2967.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v81_2973 {
  width: 287px;
  height: 320px;
  background: url("../images/v81_2973.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 0px;
  overflow: hidden;
}
.v81_2974 {
  width: 255px;
  height: 48px;
  background: rgba(255,180,171,0.10000000149011612);
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 17px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2975 {
  width: 155px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 12px;
  left: 46px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2976 {
  width: 18px;
  height: 20px;
  background: url("../images/v81_2976.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 16px;
  overflow: hidden;
}
.v81_2980 {
  width: 19px;
  height: 20px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 16px;
}
.v81_2978 {
  width: 97px;
  height: 24px;
  background: url("../images/v81_2978.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 16px;
  overflow: hidden;
}
.v81_2979 {
  width: 255px;
  height: 44px;
  background: url("../images/v81_2979.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 14px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2981 {
  width: 139px;
  height: 24px;
  background: url("../images/v81_2981.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 44px;
  overflow: hidden;
}
.v81_2982 {
  width: 138px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2977 {
  width: 18px;
  height: 20px;
  background: rgba(81,75,70,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 19px;
}
.v81_2983 {
  width: 255px;
  height: 48px;
  background: url("../images/v81_2983.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 17px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_2984 {
  width: 20px;
  height: 18px;
  background: url("../images/v81_2984.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
  overflow: hidden;
}
.v81_2985 {
  width: 20px;
  height: 18px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2986 {
  width: 49px;
  height: 24px;
  background: url("../images/v81_2986.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 48px;
  overflow: hidden;
}
.v81_2987 {
  width: 143px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_2988 {
  width: 210px;
  height: 86px;
  background: url("../images/v81_2988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 16px;
  overflow: hidden;
}
.v81_2989 {
  width: 207px;
  height: 44px;
  background: url("../images/v81_2989.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2990 {
  width: 20px;
  height: 20px;
  background: url("../images/v81_2990.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.v81_2991 {
  width: 20px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2992 {
  width: 57px;
  height: 16px;
  background: url("../images/v81_2992.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 40px;
  overflow: hidden;
}
.v81_2993 {
  width: 45px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2994 {
  width: 207px;
  height: 42px;
  background: url("../images/v81_2994.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 3px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v81_2995 {
  width: 18px;
  height: 18px;
  background: url("../images/v81_2995.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.v81_2996 {
  width: 18px;
  height: 18px;
  background: rgba(200,16,46,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_2997 {
  width: 96px;
  height: 16px;
  background: url("../images/v81_2997.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 38px;
  overflow: hidden;
}
.v81_2998 {
  width: 84px;
  color: rgba(200,16,46,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v81_2999 {
  width: 287px;
  height: 48px;
  background: url("../images/v81_2999.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 24px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v81_3000 {
  width: 139px;
  height: 24px;
  background: url("../images/v81_3000.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 58px;
  overflow: hidden;
}
.v81_3001 {
  width: 119px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_3002 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 31px;
}
.v81_3003 {
  width: 20px;
  height: 20px;
  background: url("../images/v81_3003.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 204px;
  overflow: hidden;
}
.v81_3004 {
  width: 152px;
  height: 24px;
  background: url("../images/v81_3004.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 7px;
  overflow: hidden;
}
.v81_3005 {
  width: 20px;
  height: 20px;
  background: url("../images/v81_3005.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 25px;
  overflow: hidden;
}
.v81_3006 {
  width: 20px;
  height: 20px;
  background: rgba(25,28,29,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_3007 {
  width: 132px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 59px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_3008 {
  width: 255px;
  height: 48px;
  background: url("../images/v81_3008.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v81_3009 {
  width: 19px;
  height: 20px;
  background: url("../images/v81_3009.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 16px;
  overflow: hidden;
}
.v81_3010 {
  width: 19px;
  height: 20px;
  background: rgba(92,64,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v81_3011 {
  width: 138px;
  height: 24px;
  background: url("../images/v81_3011.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 47px;
  overflow: hidden;
}
.v81_3012 {
  width: 138px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v81_3013 {
  width: 207px;
  height: 50px;
  background: url("../images/v81_3013.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 1002px;
  left: 20px;
  overflow: hidden;
}
.v119_61 {
  width: 287px;
  height: 148px;
  background: url("../images/v119_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v119_62 {
  width: 287px;
  height: 116px;
  background: url("../images/v119_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v119_63 {
  width: 239px;
  height: 52px;
  background: url("../images/v119_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 24px;
  overflow: hidden;
}
.v119_64 {
  width: 239px;
  height: 16px;
  background: url("../images/v119_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v119_65 {
  width: 179px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v119_66 {
  width: 100px;
  height: 71px;
  background: url("../images/v119_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 62px;
  overflow: hidden;
}
