* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v117_3199 {
  width: 100%;
  height: 1052px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_3200 {
  width: 100%;
  height: 1024px;
  background: url("../images/v117_3200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 256px;
  overflow: hidden;
}
.v117_3201 {
  width: 800px;
  height: 600px;
  background: url("../images/v117_3201.png");
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 491px;
}
.v117_3202 {
  width: 100%;
  height: 1024px;
  background: rgba(248,249,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_3203 {
  width: 100%;
  height: 160px;
  background: url("../images/v117_3203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 64px 64px;
  margin: 186px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 7px;
  overflow: hidden;
}
.v117_3204 {
  width: 351px;
  height: 72px;
  background: url("../images/v117_3204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 64px;
  overflow: hidden;
}
.v117_3205 {
  width: 351px;
  height: 40px;
  background: url("../images/v117_3205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_3206 {
  width: 295px;
  color: rgba(25,28,29,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v117_3207 {
  width: 351px;
  height: 24px;
  background: url("../images/v117_3207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v117_3208 {
  width: 351px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_3209 {
  width: 445px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 6px 6px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 512px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_7141 {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,1);
  margin: 295px;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 29px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v238_386 {
  width: 403px;
  height: 68px;
  background: url("../images/v238_386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 674px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_3242 {
  width: 100%;
  height: 864px;
  background: url("../images/v117_3242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 0px;
  overflow: hidden;
}
.v117_3243 {
  width: 400px;
  height: 800px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 30px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_3244 {
  width: 398px;
  height: 82px;
  background: rgba(248,249,250,0.5);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_3251 {
  width: 398px;
  height: 716px;
  background: url("../images/v117_3251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 1px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_3292 {
  width: 538px;
  height: 800px;
  background: rgba(255,255,255,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 457px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03999999910593033);
  overflow: hidden;
}
.v117_3293 {
  width: 500px;
  height: 105px;
  background: rgba(255,255,255,0.5);
  padding: 24px 24px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v117_3294 {
  width: 367px;
  height: 56px;
  background: url("../images/v117_3294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_3297 {
  width: 303px;
  height: 56px;
  background: url("../images/v117_3297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 64px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_3300 {
  width: 303px;
  height: 24px;
  background: url("../images/v117_3300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_3303 {
  width: 8px;
  height: 24px;
  background: url("../images/v117_3303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 170px;
  overflow: hidden;
}
.v117_3304 {
  width: 8px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Be Vietnam Pro;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v117_3307 {
  width: 88px;
  height: 40px;
  background: url("../images/v117_3307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 425px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_3314 {
  width: 500px;
  height: 436px;
  background: rgba(250,251,252,1);
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 1px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_3318 {
  width: 388px;
  height: 352px;
  background: url("../images/v117_3318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 24px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_3322 {
  width: 355px;
  height: 352px;
  background: url("../images/v117_3322.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_3339 {
  width: 500px;
  height: 257px;
  background: rgba(255,255,255,1);
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 1px;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.019999999552965164);
  overflow: hidden;
}
.v117_3340 {
  width: 452px;
  height: 208px;
  background: url("../images/v117_3340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 24px;
  overflow: hidden;
}
.v117_3341 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,0.0020000000949949026);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_3342 {
  width: 30px;
  height: 30px;
  background: url("../images/v117_3342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v117_3343 {
  width: 404px;
  height: 208px;
  background: url("../images/v117_3343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.v117_3344 {
  width: 404px;
  height: 208px;
  background: rgba(255,255,255,1);
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_3348 {
  width: 402px;
  height: 71px;
  background: rgba(255,255,255,0.5);
  padding: 12px 16px;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 1px;
  overflow: hidden;
}
.v117_3349 {
  width: 133px;
  height: 39px;
  background: url("../images/v117_3349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_3356 {
  width: 9px;
  height: 39px;
  background: url("../images/v117_3356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 60px;
  overflow: hidden;
}
.v117_3357 {
  width: 9px;
  height: 16px;
  background: url("../images/v117_3357.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v117_3358 {
  width: 1px;
  height: 16px;
  background: rgba(229,189,185,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_6032 {
  width: 288px;
  height: 1052px;
  background: rgba(253,253,253,1);
  padding: 24px 0px;
  margin: 163px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v117_6033 {
  width: 287px;
  height: 815px;
  background: url("../images/v117_6033.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v117_6040 {
  width: 287px;
  height: 505px;
  background: url("../images/v117_6040.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 137px;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 2px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v117_6117 {
  width: 287px;
  height: 133px;
  background: url("../images/v117_6117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1px;
  overflow: hidden;
}
.v117_6118 {
  width: 287px;
  height: 116px;
  background: url("../images/v117_6118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_6119 {
  width: 239px;
  height: 52px;
  background: url("../images/v117_6119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 24px;
  overflow: hidden;
}
.v117_6120 {
  width: 239px;
  height: 16px;
  background: url("../images/v117_6120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 10px;
  overflow: hidden;
}
.v117_6121 {
  width: 168px;
  color: rgba(92,64,61,1);
  position: absolute;
  top: 8px;
  left: 4px;
  font-family: Be Vietnam Pro;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v117_6122 {
  width: 100px;
  height: 71px;
  background: url("../images/v117_6122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 62px;
  overflow: hidden;
}
